<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:p="http://primefaces.org/ui"
  xmlns:rc="http://java.sun.com/jsf/composite/comps"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="tabmenuform">

    <p:tabMenu id="mainTabMenu" activeIndex="${menuController.activeIndex}">
      <p:menuitem value="Cables" icon="ui-icon-home" url="cables.xhtml"
        styleClass="#{request.requestURI.contains('cables.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Cable Types" icon="ui-icon-folder-open"
        url="cable-types.xhtml"
        styleClass="#{request.requestURI.contains('cable-types.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Routings" icon="ui-icon-folder-open"
        url="routings.xhtml"
        styleClass="#{request.requestURI.contains('routings.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Connectors" icon="ui-icon-folder-open"
        url="connectors.xhtml"
        styleClass="#{request.requestURI.contains('connectors.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Manufacturers" icon="ui-icon-folder-open"
        url="manufacturers.xhtml"
        styleClass="#{request.requestURI.contains('manufacturers.xhtml') ? 'menu-selected' : ''}" />
      <p:menuitem value="Log" icon="ui-icon-folder-open" url="log.xhtml"
        styleClass="#{request.requestURI.contains('log.xhtml') ? 'menu-selected' : ''}" />
    </p:tabMenu>
  </h:form>

</ui:composition>
