<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <div style="width: calc(100% - 1em)">

    <p:remoteCommand name="updatePageSize" action="#{historyRequestManager.onPaginatePageSize}" />

    <p:dataTable id="historyTable" var="history"
      value="#{controller.lazyModel}" rowKey="#{history.id}"
      widgetVar="historyTable" class="dialogListTable"
      emptyMessage="No records found."
      scrollable="true"
      scrollWidth="100%"
      scrollHeight="#{tableHeight}"
      rows="#{controller.rows}"
      lazy="true"
      paginator="true"
      paginatorAlwaysVisible="true"
      paginatorPosition = "bottom"
      paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
      rowsPerPageTemplate="10,20,30,40,50">

      <p:ajax event="page" process="@this"
        listener="#{controller.onPaginate}"
        update="tableMenuActions"
        oncomplete="updatePageSize()" />
      <p:ajax event="filter" update="#{updateOnFilter}" />
      <p:ajax event="sort"
            onstart="start();"
            oncomplete="stop();" />

      <f:facet name="header">
        <p:commandButton id="toggler" type="button" value="Columns" style="float:left" />
        <p:columnToggler datasource="historyTable" trigger="toggler">
          <p:ajax event="toggle" listener="#{historyRequestManager.onToggle}" />
        </p:columnToggler>

        <p:menuButton id="tableMenuActions" value="Actions" style="float: right; text-align: left;">
          <p:menuitem
            id="exportLogButton" value="Export" onstart="start()"
            title="Export log" icon="ui-icon-disk" update=":dialogs"
            oncomplete="PF('exportDialog').show(); stop();"
            onclick="disableButtons('logTableForm','buttons');"  class = "button"
            disabled="#{historyRequestManager.history.size() == 0}" />

          <p:separator />
          <p:menuitem
            value="Close" title="Close history dialog." type="button"
            onclick="PF('#{widgetName}').hide();"
            action="#{controller.clearHistory()}" icon="ui-icon-close" />
         </p:menuButton>
      </f:facet>

      <p:column id="timestampColumn" sortBy="#{history.timestamp}"
        style="width:15%; min-width:100px"
        filterStyle="width:100%;"
        filterBy="#{history.timestamp}"
        filterMatchMode="contains"
        visible="#{historyRequestManager.isColumnVisible(0)}">
        <f:facet name="header">
          <h:outputText value="Timestamp"
            title="History entry timestamp." />
        </f:facet>
        <h:outputText value="#{history.timestamp}" />
      </p:column>

      <p:column id="userColumn" sortBy="#{history.userId}"
        style="width:10%; min-width:100px"
        filterStyle="width:100%;"
        filterBy="#{history.userId}"
        filterMatchMode="contains"
        visible="#{historyRequestManager.isColumnVisible(1)}">
        <f:facet name="header">
          <h:outputText value="User" title="User." />
        </f:facet>
        <h:outputText value="#{history.user}" />
      </p:column>

      <p:column id="entityType" sortBy="#{history.entityType}"
        style="width:10%; min-width:60px"
        filterStyle="width:100%;"
        filterBy="#{history.entityType}" filterMatchMode="exact"
        filterOptions="#{historyRequestManager.entityTypeValues}"
        visible="#{historyRequestManager.isColumnVisible(2)}"
        rendered="#{showType}">
        <f:facet name="header">
          <h:outputText value="Entity Type" title="Entity Type." />
        </f:facet>
        <h:outputText value="#{history.entityType}" />
      </p:column>

      <p:column id="operationColumn" sortBy="#{history.operation}"
        style="width:10%; min-width:60px"
        filterStyle="width:100%;"
        filterBy="#{history.operation}" filterMatchMode="exact"
        filterOptions="#{historyRequestManager.operationValues}"
        visible="#{historyRequestManager.isColumnVisible(3)}">
        <f:facet name="header">
          <h:outputText value="Operation" title="Operation." />
        </f:facet>
        <h:outputText value="#{history.operation}" />
      </p:column>

      <p:column id="entityNameColumn" sortBy="#{history.entityName}"
        style="width:20%; min-width:100px"
        filterStyle="width:100%;"
        filterBy="#{history.entityName}"
        filterMatchMode="contains"
        visible="#{historyRequestManager.isColumnVisible(4)}">
        <f:facet name="header">
          <h:outputText value="Entity Name" title="Entity name." />
        </f:facet>
        <h:outputText value="#{history.entityName}" />
      </p:column>

      <p:column id="entityIdColumn" sortBy="#{history.entityId}"
        style="width:10%; min-width:60px"
        filterStyle="width:100%;"
        filterBy="#{history.entityId}"
        filterMatchMode="contains"
        visible="#{historyRequestManager.isColumnVisible(5)}">
        <f:facet name="header">
          <h:outputText value="Entity ID" title="Entity ID." />
        </f:facet>
        <h:outputText value="#{history.entityId}" />
      </p:column>

      <p:column id="entryColumn" sortBy="#{history.entry}"
        style="width:25%; min-width:150"
        filterStyle="width:100%;"
        filterBy="#{history.entry}"
        filterMatchMode="contains"
        visible="#{historyRequestManager.isColumnVisible(6)}">
        <f:facet name="header">
          <h:outputText value="Change" title="Change description." />
        </f:facet>
        <p:commandLink update=":#{popupName}Form"
          oncomplete="PF('#{popupName}').show('#{component.clientId}');"
          styleClass="ellipsis">
          <f:setPropertyActionListener value="Change"
            target="#{historyRequestManager.longTextOverlayHeader}" />
          <f:setPropertyActionListener value="#{history.entry}"
            target="#{historyRequestManager.longTextOverlayContent}" />
          <h:outputText value="#{history.entry}" />
        </p:commandLink>
      </p:column>

    </p:dataTable>
  </div>
</ui:composition>
