.ui-widget, .ui-widget .ui-widget {
	font-size: 13px;
}

.ui-widget table {
	font-size: 13px;
}

.noBorders, .noBorders>tbody>tr, .noBorders>tbody>tr>td {
	background: none;
	border: none !important;
	vertical-align: top;
}

.noBordersIcons>tbody>tr {
	background: none;
	border: none;
}

.noBordersIcons>tbody>tr>td {
	background: none;
	border: none;	padding: 2px;
}

.heading {
	text-align: left;
}

.fixedPosition {
	position: fixed;
	right: 5%;
	top: 10%;
}

.box {
	margin: 0px;
	padding: 10px;
	border: 0px solid LightGray;
	border-radius: 7px;
	box-shadow: 0 0 7px 2px #888888;
	color: black;
}

.boxf {
	margin: 0px;
	padding: 10px;
	border: 0px solid #000000;
	color: black;
	width: 90%;
	margin: 0 auto;
}


.para {
	margin-bottom: 10px;
	padding: 0px;
	text-align: left;
	border: none;
}

.previewTreeTable {
	width: 600px;
	max-height: 300px;
	overflow: auto;
}

#top {
	position: relative;
	border: 1px;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

#menuform .ui-menuitem {
	margin-right: 7px;
}

.textScreen {
	max-width: 1100px;
}

.dialogButton {
	margin-left: 2ex !important;
	margin-bottom: 1ex !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 90% !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	width: 90% !important;
}

.calendarInput input {
	width: 100%;
}

.menu-selected, .menu-selected>.ui-menuitem-text, .menu-selected>a>.ui-menuitem-text,
	.menu-selected {
	text-decoration: underline;
}

.overlayPanel .ui-widget-content {
	padding: 0 !important;
}

.overlayPanel {
	border: 0 !important;
	padding: 0 0 2px 0 !important;
}

.ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-decoration: none;
	color: black !important;
}

.ui-fileupload-content {
	display: none;
}

.ui-fileupload-buttonbar {
	background: none;
	border: none;
	padding-right: 0px;
}

.uploaderColumn1 {
	padding: 0px !important;
	width: 100%;
}

.uploaderColumn2 {
	padding-right: 0px !important;
}

.lengthColumn1 {
	padding: 0px !important;
	width: 100%;
}

.lengthColumn2 {
	padding-right: 0px !important;
}

.lengthColumn3 {
	padding-right: 0px !important;
}

.lengthColumn4 {
	padding-right: 0px !important;
}

.footer-message {
	position: absolute;
	bottom: 0.25em;
	color: lightgray;
	text-align: center;
	font-size: 0.9em;
	margin: auto;
}

.one-third {
	width: 33%;
}

.two-thirds {
	width: 67%;
}

.top-alignment {
	vertical-align: top;
}

.ui-autocomplete-input, .ui-autocomplete-multiple-container,
	.ui-autocomplete-multiple {
	width: 100%;
}

.uploadButton .ui-fileupload-buttonbar {
	padding: 0;
	margin-left: 1.3px;
}
.uploadButton .ui-fileupload-buttonbar .ui-button {
	top: -1px;
}
.ui-fileupload {
	display: inline-block;
}

.buttonRowCondensed {
	text-align: right;
	border: 0;
	padding: 0 !important;
	margin-top: 0.7ex !important;
	margin-bottom: 0.7ex !important;
}

.buttonRow {
	text-align: right;
	border: 0;
	margin: 10px 0 0 15px;
}

/*datatable*/
.ui-datatable-data {
  text-align: left;
}
.ui-datatable a {
  color: blue;
  text-decoration: underline;
}
.ui-datatable .ui-datatable-header,  .ui-datatable .ui-datatable-footer{
   overflow: auto;
}
.ui-datatable-header.ui-widget-header{
    background:#00698c;
    color:#ffffff;
    padding-left:0.2em;
    padding-right:0.2em;
}
.ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
    border: 0.1em #dcdcdc solid;
    padding:0.2em;
}
.ui-datatable thead th{
    border: 0.1em #00698c solid !important;
    padding:0.2em;
}
.ui-datatable-scrollable-body {
    height: calc(100vh - 18em);
}
