<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:o="http://omnifaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="800" dynamic="true" style="overflow-y:scroll;" height="80vh">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="2"
        style="margin-bottom: 1ex; width:100%"
        columnClasses="one-third top-alignment, two-thirds top-alignment">

        <p:outputLabel for="cableTypeName" value="Name:" />
        <h:panelGroup>
          <p:inputText id="cableTypeName"
            value="#{cableTypeRequestManager.selectedCableType.name}"
            required="true" requiredMessage="Name is required."
            validator="#{cableTypeRequestManager.isCableTypeNameValid}"
            style="width:100%" />
          <p:message for="cableTypeName" />
        </h:panelGroup>

        <p:outputLabel for="cableTypeDescription" value="Description:"
          style="margin-top: 0px" />
        <p:inputTextarea id="cableTypeDescription" autoResize="false"
          scrollHeight="5" rows="5" maxlength="65535"
          style="width:100%; resize: none;"
          value="#{cableTypeRequestManager.selectedCableType.description}" />

        <p:outputLabel for="cableTypeService" value="Service/Function:" />
        <p:inputText id="cableTypeService"
          value="#{cableTypeRequestManager.selectedCableType.service}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="cableTypeDiameter" value="Diameter (mm):" />
        <h:panelGroup>
          <p:inputText id="cableTypeDiameter"
            value="#{cableTypeRequestManager.selectedCableType.diameter}"
            validator="#{cableTypeRequestManager.isFloatEntered}"
            maxlength="255" style="width:100%" />
          <p:message for="cableTypeDiameter" />
        </h:panelGroup>

        <p:outputLabel for="cableTypeWeight" value="Weight (kg/m):" />
        <h:panelGroup>
          <p:inputText id="cableTypeWeight"
            value="#{cableTypeRequestManager.selectedCableType.weight}"
            validator="#{cableTypeRequestManager.isFloatEntered}"
            maxlength="255" style="width:100%" />
          <p:message for="cableTypeWeight" />
        </h:panelGroup>

        <p:outputLabel for="cableTypeInsulation" value="Insulation:" />
        <p:inputText id="cableTypeInsulation"
          value="#{cableTypeRequestManager.selectedCableType.insulation}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="cableTypeJacket" value="Jacket:" />
        <p:inputText id="cableTypeJacket"
          value="#{cableTypeRequestManager.selectedCableType.jacket}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="cableTypeVoltage"
          value="Voltage Rating (V):" />
        <h:panelGroup>
          <p:inputText id="cableTypeVoltage"
            value="#{cableTypeRequestManager.selectedCableType.voltage}"
            validator="#{cableTypeRequestManager.isIntegerEntered}"
            maxlength="255" style="width:100%" />
          <p:message for="cableTypeVoltage" />
        </h:panelGroup>

        <p:outputLabel for="cableTypeFlammab" value="Flammable Class:" />
        <p:inputText id="cableTypeFlammab"
          value="#{cableTypeRequestManager.selectedCableType.flammability}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="cableTypeInstallationType"
          value="Installation Type:" />
        <p:selectOneMenu id="cableTypeInstallationType"
          value="#{cableTypeRequestManager.selectedCableType.installationTypeString}"
          style="width: calc(100% - 28px)">
          <f:selectItems
            value="#{cableTypeRequestManager.installationTypesWithoutAll}"
            var="installationType" itemLabel="#{installationType.label}"
            itemValue="#{installationType.value}" />
        </p:selectOneMenu>

        <p:outputLabel for="cableTypeTID"
          value="Radiation Resistance (mrad):" />
        <h:panelGroup>
          <p:inputText id="cableTypeTID"
            value="#{cableTypeRequestManager.selectedCableType.tid}"
            validator="#{cableTypeRequestManager.isFloatEntered}"
            maxlength="255" style="width:100%" />
          <p:message for="cableTypeTID" />
        </h:panelGroup>

        <p:outputLabel for="#{widgetName}cableTypeManufacturerTable"
          value="Manufacturers:" />
        <p:fieldset id="cableTypeManufacturers">
          <p:dataTable id="#{widgetName}cableTypeManufacturerTable"
            var="cableTypeManufacturer"
            value="#{cableTypeRequestManager.selectedCableType.manufacturers}"
            rowKey="#{cableTypeManufacturer.position}"
            widgetVar="#{widgetName}cableTypeManufacturerTable"
            scrollable="true" scrollHeight="100" scrollRows="5"
            editable="true" editMode="cell"
            sortBy="#{cr.position}" sortOrder="ascending"
            emptyMessage="No records found."
            selection="#{cableTypeRequestManager.selectedCableTypeManufacturer}"
            selectionMode="single">

            <p:ajax event="rowSelect" process="@this"
              update=":#{formId}:buttons" />
            <p:ajax event="rowUnselect" process="@this"
              update=":#{formId}:buttons" />
            <p:column>
              <f:facet name="header">
                <h:outputText value="Manufacturer"
                  title="Manufacturer of the cable type." />
              </f:facet>
              <p:cellEditor>
                <f:facet name="output">
                  <h:outputText
                    value="#{cableTypeManufacturer.manufacturer.name}" />
                </f:facet>
                <f:facet name="input">
                  <p:autoComplete
                    value="#{cableTypeManufacturer.manufacturer}"
                    completeMethod="#{cableTypeRequestManager.completeAvailableManufacturers}"
                    var="manufacturer" itemLabel="#{manufacturer.name}" itemValue="#{manufacturer}"
                    style="width:100%" dropdown="true" scrollHeight="250"
                    forceSelection="true">
                     <o:converter converterId="omnifaces.ListConverter" list="#{cableTypeRequestManager.availableManufacturers}" />
                  </p:autoComplete>
                </f:facet>
              </p:cellEditor>
            </p:column>
            <p:column>
              <f:facet name="header">
                <h:outputText value="Datasheet"
                  title="Datasheet of the manufacturer." />
              </f:facet>
              <h:outputText
                value="#{cableTypeManufacturer.datasheet.name}" />
            </p:column>
          </p:dataTable>
          <p:panel id="buttons" styleClass="buttonRowCondensed">
            <p:commandButton value="Add" title="Add manufacturer."
              icon="ui-icon-plus"
              disabled="#{!cableTypeRequestManager.changeCableTypeManufacturersPermission}"
              action="#{cableTypeRequestManager.addCableTypeManufacturer}"
              update=":#{formId}:#{widgetName}cableTypeManufacturerTable"
              process="@this" />
            <p:commandButton value="Delete"
              title="Delete selected manufacturer."
              icon="ui-icon-trash"
              disabled="#{cableTypeRequestManager.selectedCableTypeManufacturer == null or !cableTypeRequestManager.changeCableTypeManufacturersPermission}"
              action="#{cableTypeRequestManager.removeCableTypeManufacturer}"
              update=":#{formId}:cableTypeManufacturers" process="@this" />
            <p:commandButton id="moveUp" value="Up"
              title="Move selected manufacturer up."
              icon="ui-icon-arrowthick-1-n"
              disabled="#{cableTypeRequestManager.selectedCableTypeManufacturer == null}"
              update=":#{formId}:buttons :#{formId}:#{widgetName}cableTypeManufacturerTable"
              action="#{cableTypeRequestManager.moveManufacturerUp()}"
              process="@this" />
            <p:commandButton id="moveDown" value="Down"
              title="Move selected manufacturer down."
              icon="ui-icon-arrowthick-1-s"
              disabled="#{cableTypeRequestManager.selectedCableTypeManufacturer == null}"
              update=":#{formId}:buttons :#{formId}:#{widgetName}cableTypeManufacturerTable"
              process="@this"
              action="#{cableTypeRequestManager.moveManufacturerDown()}" />
            <p:fileUpload label="Add Datasheet"
              fileUploadListener="#{cableTypeRequestManager.handleManufacturerDatasheetUpload}"
              disabled="#{cableTypeRequestManager.selectedCableTypeManufacturer == null or !cableTypeRequestManager.changeCableTypeManufacturersPermission}"
              update=":#{formId}:#{widgetName}cableTypeManufacturerTable"
              auto="true" fileLimit="1" dragDropSupport="false"
              process="@this" styleClass="uploadButton"
              onstart = "start()" oncomplete="stop()" />
          </p:panel>
        </p:fieldset>

        <p:outputLabel for="cableTypeComments" value="Comments:" />
        <p:inputTextarea id="cableTypeComments" autoResize="false"
          scrollHeight="5" rows="5" maxlength="255"
          style="width:100%; resize: none;"
          value="#{cableTypeRequestManager.selectedCableType.comments}" />

        <p:outputLabel for="cableTypeRevision" value="Revision:" />
        <p:inputText id="cableTypeRevision"
          value="#{cableTypeRequestManager.selectedCableType.revision}"
          readonly="true" maxlength="255" style="width:100%; background-color:lightgray;"/>

      </p:panelGrid>

      <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Save" title="Save cable type."
          styleClass="dialogButton" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); updateCableTypeTable();}"
          action="#{cableTypeRequestManager[submitHandler]}"
          update=":cableTypeTableForm grp" icon="ui-icon-disk" />
        <p:commandButton value="Cancel" title="Cancel all changes."
          styleClass="dialogButton" onclick="PF('#{widgetName}').hide();"
          actionListener="#{cableTypeRequestManager.clearSelection()}"
          update="grp :cableTypeTableForm:cableTypeTable:tableMenuActions" resetValues="true"
          icon="ui-icon-close" process="@this" />
      </p:panel>
    </p:dialog>
  </h:form>
  
  <ui:remove><!-- Avoid disappearing <p:autoComplete popup when clicking on scrollbars (Primefaces 6.2). --></ui:remove>
  <script type="text/javascript">
    $(document).ready(function() { 
      $('body').on('mousedown', '.ui-autocomplete-panel', function(event) { event.stopImmediatePropagation();});
    });
  </script>
</ui:composition>
