<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" width="30em" closable="false" dynamic="true">
      <f:facet name="header">
        <h:outputText value="Cannot Find The Requested #{entityCamel}" />
      </f:facet>
      <h:panelGroup style="margin-top: 1ex; margin-bottom: 1em;"
        layout="block">
        <h:outputText
          value="The requested #{entity} '#{controller[submitHandler]}' could not be located." />
      </h:panelGroup>
      <p:commandButton value="Ok" style="float:right"
        onclick="PF('#{widgetName}').hide();" icon="ui-icon-check" />
    </p:dialog>
  </h:form>
</ui:composition>