<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:outputPanel
        style="display: block; width: 30em; margin-bottom: 1.2em;">
        <h:outputText
          value="Are you sure you want to delete selected #{entityType}?"
          rendered="#{empty deletePreventionList}" />
        <h:outputText
          value="The selected #{entityType} cannot be deleted, because the following #{entityType} are #{cause}:"
          rendered="#{not empty deletePreventionList}" />
      </p:outputPanel>

      <p:dataTable id="deleteTable"
        value="#{empty deletePreventionList ? deleteList : deletePreventionList}"
        class="dialogListTable" var="entity" scrollable="true"
        scrollHeight="200" style="width: 30em; margin-bottom: 1em;">
        <p:column headerText="#{entityName}">
          <h:outputText value="#{entity}" />
        </p:column>
      </p:dataTable>
      
    <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Yes"
          title="Delete selected #{entityType}." styleClass="dialogButton"
          update="#{formsToUpdate}"
          rendered="#{empty deletePreventionList}" onstart="start()"
          oncomplete="stop(); PF('#{widgetName}').hide(); #{closeDialogActions}"
          action="#{controller[submitHandler]}" icon="ui-icon-check" />
        <p:commandButton
          value="#{empty deletePreventionList ? 'No' : 'Close'}"
          title="Close delete confirmation dialog."
          styleClass="dialogButton"
          oncomplete="PF('#{widgetName}').hide();"
          update="#{formsToUpdate} #{formId}"
          action="#{controller[closeHandler]}" icon="ui-icon-close" />
    </p:panel>
    </p:dialog>
  </h:form>
</ui:composition>
