<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="#{formIdDialog}">
    <p:dialog widgetVar="#{widgetNameDialog}" id="#{widgetNameDialog}"
      modal="true" resizable="false" closable="false" width="350px"
      dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitleDialog}" />
      </f:facet>
      <p:panelGrid id="editDisplayViewPanelGrid" columns="2"
        style="width: 100%; margin" styleClass="noBorders">
        <p:outputLabel for="userFilterDescription" value="Description:" />
        <h:panelGroup>
          <p:inputText id="userFilterDescription"
            value="#{displayViewRequestManager.description}"
            style="width:100%" required="true"
            requiredMessage="Description is required."
            validator="#{displayViewRequestManager.isDescriptionUnique}"
            validatorMessage="Display View description should be unique." />
          <p:message for="userFilterDescription" />
        </h:panelGroup>
      </p:panelGrid>

      <h:panelGroup>
        <p:commandButton value="Cancel" title="Cancel all changes"
          onclick="PF('#{widgetNameDialog}').hide();"
          update="#{formIdDialog}:editDisplayViewPanelGrid"
          resetValues="true" style="float:right; margin-top:10px;"
          icon="ui-icon-close" />

        <p:commandButton value="Save"
          title="Save DisplayView description."
          action="#{displayViewRequestManager[submitHandlerDialog]}"
          resetValues="true" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('#{widgetNameDialog}').hide(); }"
          style="float:right; margin-top:10px;"
          update="#{componentsToUpdateDialog} #{formIdDialog}:editDisplayViewPanelGrid"
          icon="ui-icon-disk" />
      </h:panelGroup>
    </p:dialog>
  </h:form>
</ui:composition>
