<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  
  <h:form id="#{formId}Form">
    <p:overlayPanel id="#{formId}"
      widgetVar="#{formId}" dismissable="false"
      showCloseIcon="true" style="max-width: 512px; max-height:512px;" styleClass="ovelrayWithLinks">
      <p:outputPanel>
        <p:panel styleClass="overlayPanel">
          <f:facet name="header">
            <h:outputText value="#{title}" />
          </f:facet>
        </p:panel>
        <p:panel id="displayLongGeneralContentPanel"
          style="overflow: auto">
            <h:outputText rendered="#{URL == null and listOfLinks == null}" value="#{columnContent}"  escape="false"
            style="font-family: monospace; white-space: pre-wrap;"/>
            <h:outputLink
              rendered="#{URL != null}" value="#{URL}">
              <h:outputText value="#{columnContent}" />
            </h:outputLink>            
            <ui:repeat value="#{listOfLinks}" rendered="#{listOfLinks != null}" var="element" 
            varStatus="status">
            <h:outputLink
              value="manufacturers.xhtml?manufacturerName=#{cableTypeRequestManager.encodeValue(element.name)}">
              <h:outputText value="#{element.name}" />
            </h:outputLink>
            #{element.datasheet.name != null ? " (" : ""}<p:commandLink ajax="false" title="Download"
              style="margin:0;"
              rendered="#{element.datasheet.name != null}">
              <h:outputText
               rendered="#{not empty element.datasheet.name}" 
               value="#{element.datasheet.name} (#{element.datasheet.id})" />
              <p:fileDownload value="#{cableTypeRequestManager.downloadFile(element.datasheet)}" />
            </p:commandLink>#{element.datasheet.name != null ? ")" : ""}#{status.last ? '' : ','}
          </ui:repeat>

        </p:panel>
      </p:outputPanel>
    </p:overlayPanel>
  </h:form>

</ui:composition>
