<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog id="#{widgetName}" widgetVar="#{widgetName}" modal="true"
      resizable="false" dynamic="true">
      <f:facet name="header">
        <h:outputText value="File Uploaded" />
      </f:facet>
      <p:panelGrid style="margin-bottom: 1em;" styleClass="borderless">
        <p:row>
          <p:column styleClass="alignRight">
            <h:outputText value="Data rows:" />
          </p:column>
          <p:column style="width: 5em;">
            <h:outputText
              value="#{controller.importResult.importFileStatistic.dataRows}" />
          </p:column>
        </p:row>

        <p:row>
          <p:column styleClass="alignRight">
            <h:outputText value="Create rows:" />
          </p:column>
          <p:column style="width: 5em;">
            <h:outputText
              value="#{controller.importResult.importFileStatistic.createRows}" />
          </p:column>
        </p:row>

        <p:row>
          <p:column styleClass="alignRight">
            <h:outputText value="Update rows:" />
          </p:column>
          <p:column style="width: 5em;">
            <h:outputText
              value="#{controller.importResult.importFileStatistic.updateRows}" />
          </p:column>
        </p:row>

        <p:row>
          <p:column styleClass="alignRight">
            <h:outputText value="Delete rows:" />
          </p:column>
          <p:column style="width: 5em;">
            <h:outputText
              value="#{controller.importResult.importFileStatistic.deleteRows}" />
          </p:column>
        </p:row>

        <p:row>
          <p:column styleClass="alignRight">
            <h:outputText value="Skipped rows:" />
          </p:column>
          <p:column style="width: 5em;">
            <h:outputText
              value="#{controller.importResult.importFileStatistic.dataRows - controller.importResult.importFileStatistic.importRows}" />
          </p:column>
        </p:row>
      </p:panelGrid>
      <p:commandButton value="Close" title="Close statistics dialog."
        type="button" styleClass="dialogButton"
        onclick="PF('#{widgetName}').hide();" icon="ui-icon-close" />
    </p:dialog>
  </h:form>
</ui:composition>