<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="1300px" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid style="width: 100%;" styleClass="noBorders">
        <p:row>
          <p:column>
            <p:fieldset legend="Queries">
              <p:dataTable id="queriesTable" var="q"
                value="#{queryRequestManager.queries}" rowKey="#{q.id}"
                widgetVar="queriesTable"
                filteredValue="#{queryRequestManager.filteredQueries}"
                emptyMessage="No records found." scrollable="true"
                scrollHeight="150" style="margin-bottom: 1em;"
                scrollRows="35"
                selection="#{queryRequestManager.selectedQuery}"
                selectionMode="single">

                <p:ajax event="rowSelect" process="@this"
                  listener="#{queryRequestManager.onQuerySelect}"
                  update=":#{formId}:queryConditionTable :#{formId}:addQueryConditionButton 
                                            :#{formId}:deleteQueryConditionButton :#{formId}:saveQueryConditionButton 
                                            :#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton
                                            :#{formId}:editQueryButton :#{formId}:deleteQueryButton :#{formId}:duplicateQueryButton
                                            :editQueryForm:editQueryPanelGrid :duplicateQueryForm:editQueryPanelGrid" />
                <p:ajax event="rowUnselect" process="@this"
                  listener="#{queryRequestManager.onQuerySelect}"
                  update=":#{formId}:queryConditionTable :#{formId}:addQueryConditionButton
                                    :#{formId}:deleteQueryConditionButton :#{formId}:saveQueryConditionButton
                                    :#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton
                                    :#{formId}:editQueryButton :#{formId}:deleteQueryButton :#{formId}:duplicateQueryButton
                                    :editQueryForm:editQueryPanelGrid :duplicateQueryForm:editQueryPanelGrid" />

                <p:column id="queryColumn" sortBy="#{q.description}"
                  styleClass="fixed_width140" filterStyle="width: 140px"
                  filterBy="#{q.description}" filterMatchMode="contains">
                  <f:facet name="header">
                    <h:outputText value="Query" title="Query." />
                  </f:facet>
                  <h:outputText value="#{q.description}" />
                </p:column>

              </p:dataTable>
              <p:commandButton id="duplicateQueryButton"
                value="Duplicate" title="Duplicate selected query"
                style="float: right"
                disabled="#{!queryRequestManager.querySelected}"
                actionListener="#{queryRequestManager.prepareEditDuplicatePopup}"
                update=":duplicateQueryForm"
                oncomplete="PF('duplicateQueryDialog').show();"
                icon="ui-icon-copy" />
              <p:commandButton id="deleteQueryButton" value="Delete"
                title="Delete selected query." style="float: right"
                action="#{queryRequestManager.removeSelectedQuery}"
                disabled="#{!queryRequestManager.querySelected}"
                icon="ui-icon-trash"
                update=":#{formId}:queriesTable :#{formId}:queryConditionTable :#{formId}:addQueryConditionButton
                                        :#{formId}:deleteQueryConditionButton :#{formId}:saveQueryConditionButton
                                        :#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton
                                        :#{formId}:editQueryButton :#{formId}:deleteQueryButton :#{formId}:duplicateQueryButton
                                        :editQueryForm:editQueryPanelGrid :duplicateQueryForm:editQueryPanelGrid">
                <p:confirm header="Confirmation"
                  message="Do you really want delete selected query?" />
              </p:commandButton>
              <p:commandButton id="editQueryButton" value="Edit"
                title="Edit selected query." style="float: right"
                disabled="#{!queryRequestManager.querySelected}"
                actionListener="#{queryRequestManager.prepareEditDuplicatePopup}"
                update=":editQueryForm"
                oncomplete="PF('editQueryDialog').show();"
                icon="ui-icon-pencil" />
              <p:commandButton id="addQueryButton" value="Add"
                title="Add new query." style="float: right"
                actionListener="#{queryRequestManager.prepareAddPopup}"
                update=":addQueryForm"
                oncomplete="PF('addQueryDialog').show();"
                icon="ui-icon-plus" />
            </p:fieldset>
          </p:column>
        </p:row>
        <p:row>
          <p:column>
            <p:fieldset legend="Query Details">
              <p:dataTable id="queryConditionTable" var="qc"
                value="#{queryRequestManager.queryConditions}"
                rowKey="#{qc.position}" widgetVar="queryConditionTable"
                scrollable="true" scrollHeight="250" scrollRows="35"
                editable="true" editMode="cell"
                emptyMessage="#{queryRequestManager.querySelected ? 'No query conditions found' : 'No query selected'}"
                style="margin-bottom: 1em;"
                selection="#{queryRequestManager.selectedQueryConditions}">

                <p:ajax event="toggleSelect" process="@this"
                  listener="#{queryRequestManager.onQueryConditionSelect}"
                  update=":#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton
                                            :#{formId}:moveQueryConditionUpButton" />
                <p:ajax event="rowSelectCheckbox" process="@this"
                  listener="#{queryRequestManager.onQueryConditionSelect}"
                  update=":#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton
                                            :#{formId}:moveQueryConditionUpButton" />
                <p:ajax event="rowUnselectCheckbox" process="@this"
                  listener="#{queryRequestManager.onQueryConditionSelect}"
                  update=":#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton
                                            :#{formId}:moveQueryConditionUpButton" />
                <p:ajax event="rowSelect" process="@this"
                  listener="#{queryRequestManager.onQueryConditionSelect}"
                  update=":#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton
                                            :#{formId}:moveQueryConditionUpButton" />
                <p:ajax event="rowUnselect" process="@this"
                  listener="#{queryRequestManager.onQueryConditionSelect}"
                  update=":#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton
                                            :#{formId}:moveQueryConditionUpButton" />

                <p:column id="selectionColumn" selectionMode="multiple"
                  style="width: 32px; text-align: center;" />

                <p:column id="parenthesisOpenColumn"
                  styleClass="fixed_width140">
                  <f:facet name="header">
                    <h:outputText value="Parenthesis Open"
                      title="Query condition open parenthesis." />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.parenthesisOpen.parenthesis}" />
                    </f:facet>
                    <f:facet name="input">
                      <h:selectOneMenu value="#{qc.parenthesisOpen}"
                        style="width:100%">
                        <f:selectItems
                          value="#{queryRequestManager.parenthesisOpenValues}"
                          var="po" itemLabel="#{po.parenthesis}" itemValue="#{po}" />
                      </h:selectOneMenu>
                    </f:facet>
                  </p:cellEditor>
                </p:column>

                <p:column id="fieldColumn" styleClass="fixed_width140">
                  <f:facet name="header">
                    <h:outputText value="Field"
                      title="Query condition field." />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.field}" />
                    </f:facet>
                    <f:facet name="input">
                      <h:selectOneMenu value="#{qc.field}"
                        style="width:100%">
                        <f:selectItems
                          value="#{queryRequestManager.fieldValues}"
                          var="f" itemLabel="#{f}" itemValue="#{f}" />
                      </h:selectOneMenu>
                    </f:facet>
                  </p:cellEditor>
                </p:column>

                <p:column id="comparisonOperatorColumn"
                  styleClass="fixed_width160">
                  <f:facet name="header">
                    <h:outputText value="Comparison Operator"
                      title="Query condition comparision operator." />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.comparisonOperator}" />
                    </f:facet>
                    <f:facet name="input">
                      <h:selectOneMenu id="comparisonOperatorValuesMenu"
                        value="#{qc.comparisonOperator}"
                        style="width:100%">
                        <f:selectItems
                          value="#{queryRequestManager.comparisonOperatorValues}"
                          var="c" itemLabel="#{c.operator}" itemValue="#{c}" />
                      </h:selectOneMenu>
                    </f:facet>
                  </p:cellEditor>
                </p:column>

                <p:column id="valueColumn" styleClass="fixed_width140">
                  <f:facet name="header">
                    <h:outputText value="Value"
                      title="Query condition value." />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.value}" />
                    </f:facet>
                    <f:facet name="input">
                      <p:inputText value="#{qc.value}" style="width:96%"
                        label="Year" />
                    </f:facet>
                  </p:cellEditor>
                </p:column>

                <p:column id="parenthesisCloseColumn"
                  styleClass="fixed_width140">
                  <f:facet name="header">
                    <h:outputText value="Parenthesis Close"
                      title="Query condition close parentesis." />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.parenthesisClose.parenthesis}" />
                    </f:facet>
                    <f:facet name="input">
                      <h:selectOneMenu value="#{qc.parenthesisClose}"
                        style="width:100%">
                        <f:selectItems
                          value="#{queryRequestManager.parenthesisCloseValues}"
                          var="pc" itemLabel="#{pc.parenthesis}" itemValue="#{pc}" />
                      </h:selectOneMenu>
                    </f:facet>
                  </p:cellEditor>
                </p:column>

                <p:column id="booleanOperatorColumn"
                  styleClass="fixed_width140">
                  <f:facet name="header">
                    <h:outputText value="Boolean Operator"
                      title="Query condition boolean operator" />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.booleanOperator}" />
                    </f:facet>
                    <f:facet name="input">
                      <h:selectOneMenu value="#{qc.booleanOperator}"
                        style="width:100%">
                        <f:selectItems
                          value="#{queryRequestManager.booleanOperatorValues}"
                          var="b" itemLabel="#{b.operator}" itemValue="#{b}" />
                      </h:selectOneMenu>
                    </f:facet>
                  </p:cellEditor>
                </p:column>
              </p:dataTable>
              <p:commandButton id="saveQueryConditionButton"
                value="Save" title="Save all changes."
                style="float:right" icon="ui-icon-disk"
                action="#{queryRequestManager.saveQuery}"
                disabled="#{!queryRequestManager.querySelected}"
                onstart="start()"
                oncomplete="stop(); PF('querySummaryDialog').show();"
                update=":#{formId}:queriesTable :#{formId}:queryConditionTable :querySummaryDialogForm:deleteTable" />
              <p:commandButton id="moveQueryConditionDownButton"
                value="Down" title="Move selected query condition down."
                style="float: right" icon="ui-icon-arrowthick-1-s"
                disabled="#{!queryRequestManager.queryConditionDownButtonEnabled}"
                update=":#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton :#{formId}:queryConditionTable"
                action="#{queryRequestManager.moveQueryConditionDown}" />
              <p:commandButton id="moveQueryConditionUpButton"
                value="Up" title="Move selected query condition up."
                style="float:right" icon="ui-icon-arrowthick-1-n"
                disabled="#{!queryRequestManager.queryConditionUpButtonEnabled}"
                update=":#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton :#{formId}:queryConditionTable"
                action="#{queryRequestManager.moveQueryConditionUp}" />
              <p:commandButton id="deleteQueryConditionButton"
                value="Delete" title="Delete selected query condition."
                style="float:right"
                action="#{queryRequestManager.removeSelectedQueryCondition}"
                icon="ui-icon-trash"
                disabled="#{!queryRequestManager.querySelected or !queryRequestManager.queryConditionSelected}"
                update=":#{formId}:queryConditionTable :#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton" />
              <p:commandButton id="addQueryConditionButton" value="Add"
                title="Add empty query condition." style="float:right"
                disabled="#{!queryRequestManager.querySelected}"
                icon="ui-icon-plus"
                action="#{queryRequestManager.addEmptyQueryCondition}"
                update=":#{formId}:queryConditionTable :#{formId}:deleteQueryConditionButton :#{formId}:moveQueryConditionDownButton :#{formId}:moveQueryConditionUpButton" />
            </p:fieldset>
          </p:column>
        </p:row>
        <p:row>
          <p:column>
            <p:commandButton value="Close"
              title="Close manage queries dialog." style="float:right"
              onclick="PF('#{widgetName}').hide();"
              update=":#{formId}:queryConditionTable :#{formId}:queriesTable :executeQueriesForm #{componentsToUpdate}"
              icon="ui-icon-close" />
          </p:column>
        </p:row>
      </p:panelGrid>
    </p:dialog>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
      <p:commandButton value="No" type="button"
        styleClass="ui-confirmdialog-no" style="float:right"
        icon="ui-icon-close" />
      <p:commandButton value="Yes" type="button"
        styleClass="ui-confirmdialog-yes" style="float:right"
        icon="ui-icon-check" />
    </p:confirmDialog>

  </h:form>

  <ui:include src="/resources/dialogs/query.xhtml">
    <ui:param name="formIdDialog" value="addQueryForm" />
    <ui:param name="dialogTitleDialog" value="Add Query" />
    <ui:param name="widgetNameDialog" value="addQueryDialog" />
    <ui:param name="componentsToUpdateDialog"
      value=":#{formId}:queriesTable
                                                   :#{formId}:queryConditionTable 
                                                   :#{formId}:addQueryConditionButton
                                                   :#{formId}:deleteQueryConditionButton
                                                   :#{formId}:saveQueryConditionButton
                                                   :#{formId}:duplicateQueryButton 
                                                   :#{formId}:editQueryButton 
                                                   :#{formId}:deleteQueryButton" />
    <ui:param name="submitHandlerDialog" value="addQuery" />
  </ui:include>

  <ui:include src="/resources/dialogs/query.xhtml">
    <ui:param name="formIdDialog" value="editQueryForm" />
    <ui:param name="dialogTitleDialog" value="Edit Query" />
    <ui:param name="widgetNameDialog" value="editQueryDialog" />
    <ui:param name="componentsToUpdateDialog"
      value=":#{formId}:queriesTable
                                                   :#{formId}:queryConditionTable 
                                                   :#{formId}:addQueryConditionButton
                                                   :#{formId}:deleteQueryConditionButton
                                                   :#{formId}:saveQueryConditionButton
                                                   :#{formId}:duplicateQueryButton 
                                                   :#{formId}:editQueryButton 
                                                   :#{formId}:deleteQueryButton" />
    <ui:param name="submitHandlerDialog" value="editSelectedQuery" />
  </ui:include>

  <ui:include src="/resources/dialogs/query.xhtml">
    <ui:param name="formIdDialog" value="duplicateQueryForm" />
    <ui:param name="dialogTitleDialog" value="Duplicate Query" />
    <ui:param name="widgetNameDialog" value="duplicateQueryDialog" />
    <ui:param name="componentsToUpdateDialog"
      value=":#{formId}:queriesTable
                                                   :#{formId}:queryConditionTable 
                                                   :#{formId}:addQueryConditionButton
                                                   :#{formId}:deleteQueryConditionButton
                                                   :#{formId}:saveQueryConditionButton
                                                   :#{formId}:duplicateQueryButton 
                                                   :#{formId}:editQueryButton 
                                                   :#{formId}:deleteQueryButton" />
    <ui:param name="submitHandlerDialog" value="duplicateSelectedQuery" />
  </ui:include>
</ui:composition>