<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" width="1300px" dynamic="true">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid style="width: 100%;" styleClass="noBorders">
        <p:row>
          <p:column>
            <p:fieldset legend="DisplayViews">
              <p:dataTable id="displayViewsTable" var="q"
                value="#{displayViewRequestManager.displayViews}"
                rowKey="#{q.description}" widgetVar="displayViewsTable"
                filteredValue="#{displayViewRequestManager.filteredDisplayViews}"
                emptyMessage="No records found." scrollable="true"
                scrollHeight="150" style="margin-bottom: 1em;"
                scrollRows="35"
                selection="#{displayViewRequestManager.selectedDisplayView}"
                selectionMode="single">

                <p:ajax event="rowSelect" process="@this"
                  listener="#{displayViewRequestManager.onDisplayViewSelect}"
                  update=":#{formId}:displayViewDetailsTable :#{formId}:addDisplayViewColumnButton 
                                            :#{formId}:deleteDisplayViewColumnButton :#{formId}:saveDisplayViewColumnButton 
                                            :#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton
                                            :#{formId}:editDisplayViewButton :#{formId}:deleteDisplayViewButton :#{formId}:duplicateDisplayViewButton
                                            :editDisplayViewForm:editDisplayViewPanelGrid :duplicateDisplayViewForm:editDisplayViewPanelGrid" />
                <p:ajax event="rowUnselect" process="@this"
                  listener="#{displayViewRequestManager.onDisplayViewSelect}"
                  update=":#{formId}:displayViewDetailsTable :#{formId}:addDisplayViewColumnButton
                                    :#{formId}:deleteDisplayViewColumnButton :#{formId}:saveDisplayViewColumnButton
                                    :#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton
                                    :#{formId}:editDisplayViewButton :#{formId}:deleteDisplayViewButton :#{formId}:duplicateDisplayViewButton
                                    :editDisplayViewForm:editDisplayViewPanelGrid :duplicateDisplayViewForm:editDisplayViewPanelGrid" />

                <p:column id="DisplayViewColumn"
                  sortBy="#{q.description}" styleClass="fixed_width140"
                  filterStyle="width: 140px" filterBy="#{q.description}"
                  filterMatchMode="contains">
                  <f:facet name="header">
                    <h:outputText value="DisplayView"
                      title="DisplayView." />
                  </f:facet>
                  <h:outputText value="#{q.description}" />
                </p:column>

              </p:dataTable>
              <p:commandButton id="duplicateDisplayViewButton"
                value="Duplicate"
                title="Duplicate selected DisplayView."
                style="float: right"
                disabled="#{!displayViewRequestManager.displayViewSelected}"
                actionListener="#{displayViewRequestManager.prepareEditDuplicatePopup}"
                update=":duplicateDisplayViewForm"
                oncomplete="PF('duplicateDisplayViewDialog').show();"
                icon="ui-icon-copy" />
              <p:commandButton id="deleteDisplayViewButton"
                value="Delete" title="Delete selected DisplayView."
                style="float: right"
                action="#{displayViewRequestManager.removeSelectedDisplayView}"
                disabled="#{!displayViewRequestManager.displayViewSelected}"
                icon="ui-icon-trash"
                update=":#{formId}:displayViewsTable :#{formId}:displayViewDetailsTable :#{formId}:addDisplayViewColumnButton
	                                        :#{formId}:deleteDisplayViewColumnButton :#{formId}:saveDisplayViewColumnButton
	                                        :#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton
	                                        :#{formId}:editDisplayViewButton :#{formId}:deleteDisplayViewButton :#{formId}:duplicateDisplayViewButton
	                                        :editDisplayViewForm:editDisplayViewPanelGrid :duplicateDisplayViewForm:editDisplayViewPanelGrid">
                <p:confirm header="Confirmation"
                  message="Do you really want delete selected DisplayView?" />
              </p:commandButton>
              <p:commandButton id="editDisplayViewButton" value="Edit"
                title="Edit selected DisplayView." style="float: right"
                disabled="#{!displayViewRequestManager.displayViewSelected}"
                actionListener="#{displayViewRequestManager.prepareEditDuplicatePopup}"
                update=":editDisplayViewForm"
                oncomplete="PF('editDisplayViewDialog').show();"
                icon="ui-icon-pencil" />
              <p:commandButton id="addDisplayViewButton" value="Add"
                title="Add new DisplayView." style="float: right"
                actionListener="#{displayViewRequestManager.prepareAddPopup}"
                update=":addDisplayViewForm"
                oncomplete="PF('addDisplayViewDialog').show();"
                icon="ui-icon-plus" />
            </p:fieldset>
          </p:column>
        </p:row>

        <p:row>
          <p:column>
            <p:fieldset legend="Display View Details">
              <p:dataTable id="displayViewDetailsTable" var="qc"
                value="#{displayViewRequestManager.displayViewColumns}"
                rowKey="#{qc.position}"
                widgetVar="dicsplayViewDetailsTable" scrollable="true"
                scrollHeight="250" scrollRows="35" editable="true"
                editMode="cell" sortBy="#{qc.position}"
                sortOrder="ascending"
                emptyMessage="#{displayViewRequestManager.displayViewSelected ? 'No display view columns conditions found' : 'No display view selected'}"
                style="margin-bottom: 1em;"
                selection="#{displayViewRequestManager.selectedDisplayViewColumns}"
                selectionMode="multiple">

                <p:ajax event="rowSelect" process="@this"
                  listener="#{displayViewRequestManager.onDisplayViewColumnSelect}"
                  update=":#{formId}:deleteDisplayViewColumnButton :#{formId}:moveDisplayViewColumnDownButton
			                                            :#{formId}:moveDisplayViewColumnUpButton" />
                <p:ajax event="rowUnselect" process="@this"
                  listener="#{displayViewRequestManager.onDisplayViewColumnSelect}"
                  update=":#{formId}:deleteDisplayViewColumnButton :#{formId}:moveDisplayViewColumnDownButton
			                                            :#{formId}:moveDisplayViewColumnUpButton" />

                <p:column id="position" styleClass="fixed_width72">
                  <f:facet name="header">
                    <h:outputText value="Position" />
                  </f:facet>
                  <h:outputText value="#{qc.position}" />
                </p:column>

                <p:column id="columnName" styleClass="fixed_width140">
                  <f:facet name="header">
                    <h:outputText value="Column Name"
                      title="Name of the column." />
                  </f:facet>
                  <p:cellEditor>
                    <f:facet name="output">
                      <h:outputText value="#{qc.columnName}" />
                    </f:facet>
                    <f:facet name="input">
                      <h:selectOneMenu value="#{qc.columnName}"
                        style="width:100%">
                        <f:selectItems
                          value="#{displayViewRequestManager.validColumnNames}"
                          var="f" itemLabel="#{f}" itemValue="#{f}" />
                      </h:selectOneMenu>
                    </f:facet>
                  </p:cellEditor>
                </p:column>
              </p:dataTable>


              <p:commandButton id="saveDisplayViewColumnButton"
                value="Save" title="Save all changes."
                style="float:right" icon="ui-icon-disk"
                action="#{displayViewRequestManager.saveDisplayView}"
                disabled="#{!displayViewRequestManager.displayViewSelected}"
                onstart="start()"
                oncomplete="stop(); PF('displayViewSummaryDialog').show();"
                update=":#{formId}:displayViewsTable :#{formId}:displayViewDetailsTable :displayViewSummaryDialogForm:deleteTable" />
              <p:commandButton id="moveDisplayViewColumnDownButton"
                value="Down"
                title="Move selected Display View column down."
                style="float: right" icon="ui-icon-arrowthick-1-s"
                disabled="#{!displayViewRequestManager.displayViewColumnDownButtonEnabled}"
                update=":#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton :#{formId}:displayViewDetailsTable"
                action="#{displayViewRequestManager.moveDisplayViewColumnDown}" />
              <p:commandButton id="moveDisplayViewColumnUpButton"
                value="Up" title="Move selected Display View column up."
                style="float:right" icon="ui-icon-arrowthick-1-n"
                disabled="#{!displayViewRequestManager.displayViewColumnUpButtonEnabled}"
                update=":#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton :#{formId}:displayViewDetailsTable"
                action="#{displayViewRequestManager.moveDisplayViewColumnUp}" />
              <p:commandButton id="deleteDisplayViewColumnButton"
                value="Delete"
                title="Delete selected Display View column."
                style="float:right"
                action="#{displayViewRequestManager.removeSelectedDisplayViewColumn}"
                icon="ui-icon-trash"
                disabled="#{!displayViewRequestManager.displayViewSelected or !displayViewRequestManager.displayViewColumnSelected}"
                update=":#{formId}:displayViewDetailsTable :#{formId}:deleteDisplayViewColumnButton :#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton" />
              <p:commandButton id="addDisplayViewColumnButton"
                value="Add" title="Add Display View column."
                style="float:right" icon="ui-icon-plus"
                action="#{displayViewRequestManager.addDisplayViewColumn}"
                update=":#{formId}:displayViewDetailsTable :#{formId}:deleteDisplayViewColumnButton :#{formId}:moveDisplayViewColumnDownButton :#{formId}:moveDisplayViewColumnUpButton" />
            </p:fieldset>
          </p:column>
        </p:row>


        <p:row>
          <p:column>
            <p:commandButton value="Close"
              title="Close manage DisplayView dialog."
              style="float:right" onclick="PF('#{widgetName}').hide();"
              update=":#{formId}:displayViewDetailsTable :#{formId}:displayViewsTable #{componentsToUpdate}"
              icon="ui-icon-close" />
          </p:column>
        </p:row>
      </p:panelGrid>
    </p:dialog>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
      <p:commandButton value="No" type="button"
        styleClass="ui-confirmdialog-no" style="float:right"
        icon="ui-icon-close" />
      <p:commandButton value="Yes" type="button"
        styleClass="ui-confirmdialog-yes" style="float:right"
        icon="ui-icon-check" />
    </p:confirmDialog>

  </h:form>

  <ui:include src="/resources/dialogs/display-view.xhtml">
    <ui:param name="formIdDialog" value="addDisplayViewForm" />
    <ui:param name="dialogTitleDialog" value="Add Display View" />
    <ui:param name="widgetNameDialog" value="addDisplayViewDialog" />
    <ui:param name="componentsToUpdateDialog"
      value=":#{formId}:displayViewsTable
                                                   :#{formId}:displayViewDetailsTable 
                                                   :#{formId}:addDisplayViewColumnButton
                                                   :#{formId}:deleteDisplayViewColumnButton
                                                   :#{formId}:saveDisplayViewColumnButton
                                                   :#{formId}:duplicateDisplayViewButton 
                                                   :#{formId}:editDisplayViewButton 
                                                   :#{formId}:deleteDisplayViewButton" />
    <ui:param name="submitHandlerDialog" value="addDisplayView" />
  </ui:include>

  <ui:include src="/resources/dialogs/display-view.xhtml">
    <ui:param name="formIdDialog" value="editDisplayViewForm" />
    <ui:param name="dialogTitleDialog" value="Edit DisplayView" />
    <ui:param name="widgetNameDialog" value="editDisplayViewDialog" />
    <ui:param name="componentsToUpdateDialog"
      value=":#{formId}:displayViewsTable
                                                   :#{formId}:displayViewDetailsTable 
                                                   :#{formId}:addDisplayViewColumnButton
                                                   :#{formId}:deleteDisplayViewColumnButton
                                                   :#{formId}:saveDisplayViewColumnButton
                                                   :#{formId}:duplicateDisplayViewButton 
                                                   :#{formId}:editDisplayViewButton 
                                                   :#{formId}:deleteDisplayViewButton" />
    <ui:param name="submitHandlerDialog" value="editSelectedDisplayView" />
  </ui:include>

  <ui:include src="/resources/dialogs/display-view.xhtml">
    <ui:param name="formIdDialog" value="duplicateDisplayViewForm" />
    <ui:param name="dialogTitleDialog" value="Duplicate DisplayView" />
    <ui:param name="widgetNameDialog" value="duplicateDisplayViewDialog" />
    <ui:param name="componentsToUpdateDialog"
      value=":#{formId}:displayViewsTable
                                                   :#{formId}:displayViewDetailsTable 
                                                   :#{formId}:addDisplayViewColumnButton
                                                   :#{formId}:deleteDisplayViewColumnButton
                                                   :#{formId}:saveDisplayViewColumnButton
                                                   :#{formId}:duplicateDisplayViewButton 
                                                   :#{formId}:editDisplayViewButton 
                                                   :#{formId}:deleteDisplayViewButton" />
    <ui:param name="submitHandlerDialog"
      value="duplicateSelectedDisplayView" />
  </ui:include>
</ui:composition>