<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true"
      resizable="false" closable="false" dynamic="true" width="570">
      <f:facet name="header">
        <h:outputText value="#{dialogTitle}" />
      </f:facet>
      <p:panelGrid id="grp" styleClass="borderless" columns="2"
        style="margin-bottom: 1ex; width:550px"
        columnClasses="one-third top-alignment, two-thirds top-alignment">

        <p:outputLabel for="name" value="Name:" />
        <h:panelGroup>
          <p:inputText id="name"
            value="#{manufacturerRequestManager.selectedManufacturer.name}"
            maxlength="255" style="width:100%" required="true"
            requiredMessage="Manufacturer name is required"
            validator="#{manufacturerRequestManager.isManufacturerNameValid}"
            validatorMessage="Entered value is not unique" />
          <p:message for="name" />
        </h:panelGroup>

        <p:outputLabel for="address" value="Address:" />
        <p:inputText id="address"
          value="#{manufacturerRequestManager.selectedManufacturer.address}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="phoneNumber" value="Phone Number:" />
        <p:inputText id="phoneNumber"
          value="#{manufacturerRequestManager.selectedManufacturer.phoneNumber}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="email" value="Email:" />
        <p:inputText id="email"
          value="#{manufacturerRequestManager.selectedManufacturer.email}"
          maxlength="255" style="width:100%" />

        <p:outputLabel for="country" value="Country:" />
        <p:inputText id="country"
          value="#{manufacturerRequestManager.selectedManufacturer.country}"
          maxlength="255" style="width:100%" />

      </p:panelGrid>

      <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Save" title="Save manufacturer."
          styleClass="dialogButton" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('#{widgetName}').hide(); updateManufacturerTable(); }"
          action="#{manufacturerRequestManager[submitHandler]}"
          update=":manufacturerTableForm grp" icon="ui-icon-disk" />
        <p:commandButton value="Cancel" title="Cancel all changes."
          styleClass="dialogButton" onclick="PF('#{widgetName}').hide();"
          actionListener="#{manufacturerRequestManager.clearSelection()}"
          update="grp :manufacturerTableForm:manufacturerTable:tableMenuActions" resetValues="true"
          icon="ui-icon-close" process="@this" />
      </p:panel>
    </p:dialog>
  </h:form>
</ui:composition>
