<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="#{formId}">
    <p:dialog widgetVar="#{widgetName}" id="#{Id}" modal="true"
      resizable="false" closable="false" dynamic="true">
      <f:facet name="header">
        <h:outputText value="Summary Dialog" />
      </f:facet>
      <p:panelGrid styleClass="borderless" columns="2">
        <p:dataTable id="deleteTable"
          value="#{requestManager.validationMessages}"
          class="dialogListTable" var="entity" scrollable="true"
          scrollHeight="200" style="width: 30em; margin-bottom: 1em;">
          <p:column headerText="Message">
            <h:outputText value="#{entity}" />
          </p:column>
        </p:dataTable>
      </p:panelGrid>
      <p:commandButton value="Close" title="Close"
        styleClass="dialogButton" onclick="PF('#{widgetName}').hide();"
        icon="ui-icon-close" />
    </p:dialog>
  </h:form>
</ui:composition>