<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <h:form id="uploadArtifactsForm">
    <p:dialog widgetVar="uploadArtifactsDialog"
      id="uploadArtifactsDialog" modal="true" resizable="false"
      closable="false" width="770" dynamic="true">
      
      <f:facet name="header">
        <h:outputText value="Upload attachment" />
      </f:facet>

      <p:panelGrid styleClass="borderless" columns="1"
        style="width:100%; height: auto">
        <p:panelGrid id="r1" styleClass="borderless" columns="2"
          style="margin-bottom: 1ex; width:100%"
          columnClasses="one-third top-alignment, two-thirds top-alignment">

          <p:outputLabel for="artifactColumnChooser" value="Upload to:  " />
          <p:selectOneMenu id="artifactColumnChooser" style="width:93%"
            value="#{cableRequestManager.selectedArtifactColumn}">
             <p:ajax event="change" update=":uploadArtifactsForm:selectedCablesArtifacts"/>
            <f:selectItems value="#{cableRequestManager.artifactColumns}"
              var="artifactColumn" itemLabel="#{artifactColumn.toString()}"
              itemValue="#{artifactColumn}"/>
          </p:selectOneMenu>
    
          <p:outputLabel for="artifact" value="Document:" />
          <p:panelGrid id="documentUploader" styleClass="borderless" columns="2"
                columnClasses="uploaderColumn1, uploaderColumn2" style="width:100%;">       
            <p:panelGrid id="artifactUploader" styleClass="borderless"
                columns="2" columnClasses="uploaderColumn1, uploaderColumn2">
            <p:inputText id="artifact"
                value="#{cableRequestManager.uploadedArtifact.name}"
                maxlength="255" style="width:100%" readonly="true" />
            <p:fileUpload
                fileUploadListener="#{cableRequestManager.handleArticaftUpload}"
                mode="advanced" update="artifactUploader artifact"
                auto="true" fileLimit="1" dragDropSupport="false"
                onstart = "start()" oncomplete="stop()" />
            </p:panelGrid>
          </p:panelGrid>
      
        </p:panelGrid>
      </p:panelGrid>   

      <p:panelGrid id="grp" styleClass="borderless" columns="1"
        style="width:100%;">
        <p:outputLabel>Attachments will be set on the following cables (existing attachments will be overridden). </p:outputLabel>

        <p:dataTable id="selectedCablesArtifacts" var="cable"
          value="#{cableRequestManager.selectedCables}"
          rowKey="#{cable.id}" widgetVar="selectedCableTablesArtifacts"
          emptyMessage="No cables selected." scrollable="true"
          liveScroll="true" scrollRows="15" rows="15" scrollHeight="300">

          <p:column value="cableName" sortBy="#{cable.name}">
            <f:facet name="header">
              <h:outputText value="Cable name" />
            </f:facet>
            <h:outputText value="#{cable.name}" />
          </p:column>

          <p:column
            value="#{cableRequestManager.selectedArtifactColumn}"
            sortBy="#{cable[cableRequestManager.selectedArtifactColumn.value].name}">
            <f:facet name="header">
              <h:outputText
                value="#{cableRequestManager.selectedArtifactColumn.columnLabel}" />
            </f:facet>
            <h:outputText
              value="#{cable[cableRequestManager.selectedArtifactColumn.value].name}" />
          </p:column>
          
          <p:column value="usedArtifacts">
            <f:facet name="header">
              <h:outputText value="Comment" />
            </f:facet>
            <h:outputText 
            styleClass="invalid" rendered="#{cableRequestManager.isArtifactUsedInNonSelectedCables(cable[cableRequestManager.selectedArtifactColumn.value])}"
            value="#{cable[cableRequestManager.selectedArtifactColumn.value].name} is also used in cables not present in this table." />
          </p:column>
          
        </p:dataTable>
      </p:panelGrid>
        

      <p:panel styleClass="buttonRowCondensed">
        <p:commandButton value="Save" title="Upload attachment."
          styleClass="dialogButton" onstart="start()"
          oncomplete="stop(); if (args &amp;&amp; !args.validationFailed) { PF('uploadArtifactsDialog').hide(); updateCableTable(); }"
          action="#{cableRequestManager.uploadArtifactToMultipleCables()}"
          update=":cableTableForm grp" icon="ui-icon-disk" />
        <p:commandButton value="Cancel" title="Cancel all changes."
          styleClass="dialogButton"
          onclick="PF('uploadArtifactsDialog').hide();"
          actionListener="#{cableRequestManager.clearSelection()}"
          update="grp :cableTableForm:cableTable:tableMenuActions" resetValues="true"
          icon="ui-icon-close" process="@this" />
      </p:panel>
    </p:dialog>
  </h:form>
</ui:composition>
