<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">
    <script type="text/javascript">
            function updateCableTable() {
                PF('cableTable').filter();
            }
        </script>
    <style>
#cableTableForm\:cableTable table {
  width: auto;
}
</style>
  </ui:define>

  <ui:define name="content">

    <ui:fragment rendered="#{userManager.loggedIn}">

      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog id="uploadDialog"
          header="Upload Cable Request Spreadsheet"
          widgetVar="uploadDialog" modal="true"
          visible="#{cableRequestManager.fileToBeImportedExists and cableRequestManager.importResult == null}"
          closable="false" dynamic="true">

          <h:form id="importForm" enctype="multipart/form-data">
            <h:panelGroup
              rendered="#{!cableRequestManager.fileToBeImportedExists}"
              layout="block">

              <h:panelGroup
                rendered="#{cableRequestManager.canImportCables()}"
                layout="block">
                                Please choose cable request Excel file.
                            </h:panelGroup>

              <h:panelGroup
                rendered="#{!cableRequestManager.canImportCables()}"
                layout="block" styleClass="invalid">
                                You do not have permission to import cable requests.
                            </h:panelGroup>

              <p:spacer height="8" />

              <p:fileUpload id="fileUpload"
                fileUploadListener="#{cableRequestManager.cableFileUpload}"
                rendered="#{cableRequestManager.canImportCables()}"
                style="margin-top: 8px" mode="advanced" auto="true"
                fileLimit="1" dragDropSupport="true"
                allowTypes="/(\.|\/)(xlsx|xls)$/" update=":dialogs" />

            </h:panelGroup>

            <p:separator />

            <p:commandButton value="Upload"
              title="Upload file with cable definitions."
              style="float: left" update=":dialogs :cableTableForm:cableTable:tableMenuActions" onclick="start()"
              oncomplete="stop(); updateCableTable();"
              action="#{cableRequestManager.cableImportTest()}"
              disabled="#{!cableRequestManager.fileToBeImportedExists}" />
            <!-- p:commandButton commits the form without appropriate enctype, so use h:commandButton instead and make it behave as p:commandButton -->
            <h:commandButton id="uploadCancel" value="Cancel"
              title="Cancel upload." style="float: right;"
              action="#{cableRequestManager.clearImportState()}"
              update=":cableTableForm:cableTable:tableMenuActions">
              <f:ajax render=":dialogs :cableTableForm:cableTable:tableMenuActions" />
            </h:commandButton>
            <script type="text/javascript">
                            behaveAsPCommandButton('importForm\\:uploadCancel');
                        </script>
          </h:form>
        </p:dialog>

        <p:dialog id="importDialog" widgetVar="importDialog"
          visible="#{cableRequestManager.fileToBeImportedExists and cableRequestManager.importResult != null}"
          style="max-width: 110%; max-height: 600px;" resizable="false"
          closable="false" dynamic="true">

          <f:facet name="header">
            <h:outputText
              rendered="#{cableRequestManager.importResult.error}"
              value="Error in Import Spreadsheet" styleClass="invalid" />
            <h:outputText
              rendered="#{!cableRequestManager.importResult.error}"
              value="Cable Import" />
          </f:facet>

          <h:form>
          <p:panel styleClass="para">

            <h:panelGroup
              rendered="#{cableRequestManager.importResult.error}"
              layout="block" style="margin-top: 8px">
                            Cable data cannot be imported since there are some errors in the spreadsheet. Please correct the errors and try the import again.
                        </h:panelGroup>

            <h:panelGroup
              rendered="#{!cableRequestManager.importResult.error}"
              layout="block">
                            Review the import messages and confirm the cable import.
                        </h:panelGroup>

          </p:panel>

          <p:dataTable
            value="#{cableRequestManager.importResult.errors}"
            var="errorRow" scrollable="true" scrollHeight="180"
            style="max-width: 100%; margin-bottom: 1em; width: 58em;"
            rendered="#{cableRequestManager.importResult.error}">
            <p:column headerText="Row" width="10%"
              filterBy="#{errorRow.row}" filterStyle="width: 80%"
              filterMatchMode="contains" sortBy="#{errorRow.row}">
              <h:outputText value="#{errorRow.row}" />
            </p:column>
            <p:column headerText="Column" width="15%"
              filterBy="#{errorRow.column}" filterStyle="width: 80%"
              filterMatchMode="contains" sortBy="#{errorRow.column}">
              <h:outputText value="#{errorRow.column}" />
            </p:column>
            <p:column headerText="Value" width="20%"
              filterBy="#{errorRow.value}" filterStyle="width: 80%"
              filterMatchMode="contains" sortBy="#{errorRow.value}">
              <h:outputText
                value="#{empty errorRow.value ? '&lt;undefined&gt;' : errorRow.value}" />
            </p:column>
            <p:column headerText="Error" width="55%"
              filterBy="#{errorRow.message.toString()}"
              filterMatchMode="contains"
              sortBy="#{errorRow.message.toString()}"
              filterStyle="width: 80%">
              <h:outputText value="#{errorRow.message.toString()}" />
            </p:column>
          </p:dataTable>

          <p:panel
            style="max-width: 100%; max-height: 400px; overflow: auto"
            rendered="#{!cableRequestManager.importResult.error}">
            <pre>
                            <h:outputText
                value="#{cableRequestManager.importResult.toString()}" />
                        </pre>
          </p:panel>
          </h:form>

          <p:spacer height="16" />

          <h:form id="importConfirmForm">
            <p:commandButton value="Import" title="Import cables."
              style="float: left"
              update=":dialogs :cableTableForm:cableTable"
              onclick="start()" oncomplete="stop(); updateCableTable();"
              action="#{cableRequestManager.cableImport()}"
              disabled="#{!cableRequestManager.canImportCables() or cableRequestManager.importResult.error}" />

            <p:commandButton value="Cancel" title="Cancel import."
              style="float: right"
              action="#{cableRequestManager.clearImportState()}"
              update=":dialogs" />
          </h:form>
        </p:dialog>

        <p:dialog id="importSuccessDialog"
          header="Cables Imported Successfully"
          widgetVar="importSuccessDialog"
          visible="#{!cableRequestManager.fileToBeImportedExists and cableRequestManager.importResult != null}"
          closable="false" dynamic="true">

          <p:panel styleClass="para">
                        Cable data was imported successfully.
                        You can download the imported cable request file with cable numbers assigned.
                    </p:panel>

          <p:spacer height="16" />

          <h:form id="importSuccessForm">
            <p:commandButton value="Download Numbered Cable Request"
              title="Download numbered cable request."
              style="float: left" ajax="false"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{cableRequestManager.cableSheetWithImportedCables}" />
            </p:commandButton>
            <p:spacer width="16" />
            <p:commandButton value="Show Import Statistic"
              title="Show Import Statistic."
              update=":importCablesStatisticForm"
              oncomplete="PF('importCablesStatisticDialog').show()" />
            <p:commandButton value="Close" title="Close dialog."
              style="float: right" ajax="false"
              action="#{cableRequestManager.clearImportState()}"
              update=":dialogs" />
          </h:form>
        </p:dialog>

        <p:dialog id="exportDialog" header="Export Cables" modal="true"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{cableRequestManager.cablesToExportSize}" />
                <h:outputText
                  value="#{cableRequestManager.selectedCables.isEmpty() ? '' : ' selected'}" />
                cable<h:outputText value="#{cableRequestManager.cablesToExportSize == 1 ? '' : 's'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export" title="Export cables."
              style="float: left" ajax="false"
              onclick="PrimeFaces.monitorDownload(start, stop)"
              update=":cableTableForm:cableTable:tableMenuActions">
              <p:fileDownload
                value="#{cableRequestManager.cableSheetWithCablesToExport}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                action="#{cableRequestManager.clearImportState()}"
                update=":dialogs :cableTableForm:cableTable:tableMenuActions" />
            </div>
          </h:form>
        </p:dialog>

      </p:outputPanel>

      <h:form id='cableTableForm'>

        <p:remoteCommand name="updatePageSize" action="#{cableRequestManager.onPaginatePageSize}" />

        <p:dataTable id="cableTable" var="cable"
          value="#{cableRequestManager.lazyModel}" rowKey="#{cable.id}"
          widgetVar="cableTable" emptyMessage="No records found."
          scrollable="true"
          first="#{cableRequestManager.rowNumber}"
          rows="#{cableRequestManager.rows}"
          lazy="true"
          selection="#{cableRequestManager.selectedCables}"
          selectionMode="multiple"
          paginator="true"
          paginatorAlwaysVisible="true"
          paginatorPosition = "bottom"
          paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
          rowsPerPageTemplate="10,20,30,40,50">

          <!-- using filters seems to break sync between selection state and what is displayed, so clear selection after filter usage -->
          <p:ajax event="filter" process="@this"
            listener="#{cableRequestManager.clearSelectedCables()}" />
          <p:ajax event="page" process="@this"
            listener="#{cableRequestManager.onPaginate}"
            update="tableMenuActions"
            oncomplete="updatePageSize()" />
          <p:ajax event="rowSelect" process="@this"
            listener="#{cableRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="rowUnselect" process="@this"
            listener="#{cableRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="toggleSelect" process="@this"
            listener="#{cableRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="rowSelectCheckbox" process="@this"
            listener="#{cableRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="rowUnselectCheckbox" process="@this"
            listener="#{cableRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="filter" update="tableMenuActions" />
          <p:ajax event="sort"
            onstart="start();"
            oncomplete="stop();" />

          <f:facet name="header">
            <p:commandButton id="toggler" type="button" value="Columns" style="float:left" />
            <p:columnToggler datasource="cableTable" trigger="toggler">
              <p:ajax event="toggle" listener="#{cableRequestManager.onToggle}" update="tableMenuActions" />
            </p:columnToggler>

            <p:menuButton id="tableMenuActions" value="Actions" style="float: right; text-align: left;">
              <p:menuitem value="Upload documents" title="Upload documents to the selected cables."
                id="uploadAttachmentsButton" onclick="disableButtons('cableTableForm','buttons');"  class = "button"
                icon="ui-icon-plus"
                rendered="#{cableRequestManager.editCable}"
                actionListener="#{cableRequestManager.prepareUploadPopup()}"
                onstart="start()"
                oncomplete="PF('uploadArtifactsDialog').show(); stop();"
                update=":uploadArtifactsForm"
                disabled="#{!cableRequestManager.uploadButtonEnabled}"/>
              <p:menuitem value="Add" title="Add new cable."
                id="addCableButton" onclick="disableButtons('cableTableForm','buttons');"  class = "button"
                icon="ui-icon-plus"
                rendered="#{cableRequestManager.editCable}"
                actionListener="#{cableRequestManager.prepareAddPopup()}"
                onstart="start()"
                oncomplete="PF('addCableDialog').show(); stop();"
                update=":addCableForm" />
              <p:menuitem value="Edit" title="Edit selected cable."
                id="editCableButton" onclick="disableButtons('cableTableForm','buttons');"  class = "button"
                ajax="true" icon="ui-icon-pencil"
                rendered="#{cableRequestManager.editCable}"
                action="#{cableRequestManager.prepareEditPopup()}"
                update=":editCableForm" onstart="start()"
                oncomplete="stop(); PF('editCableDialog').show();"
                disabled="#{!cableRequestManager.editButtonEnabled}" />
              <p:menuitem value="Delete" title="Delete selected cables."
                id="deleteCableButton" ajax="true"
                icon="ui-icon-trash" onclick="disableButtons('cableTableForm','buttons');"  class = "button"
                rendered="#{cableRequestManager.editCable}"
                actionListener="#{cableRequestManager.checkCablesForDeletion()}"
                oncomplete="PF('deleteCablesDialog').show();"
                update=":deleteCablesForm:deleteCablesDialog"
                disabled="#{!cableRequestManager.deleteButtonEnabled}" />

              <p:separator />
              <p:menuitem value="View Manage..." id="manageViewsButton"
                oncomplete="PF('manageDisplayViewsDialog').show();"
                action="#{displayViewRequestManager.onDialogOpen}"
                update=":manageDisplayViewsForm" />
              <p:menuitem value="View Execute..." id="executeViewButton"
                oncomplete="PF('executeDisplayViewDialog').show();"
                update=":executeDisplayViewForm:executeDisplayViewDialog" />
              <p:menuitem value="View Reset" id="resetViewsButton"
                action="#{cableRequestManager.resetDisplayView()}"
                update=":cableTableForm" onstart="start()"
                oncomplete="stop(); updateCableTable()" />
              <p:separator
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 1}" />
              <p:menuitem
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 1}"
                value="View Execute '#{displayViewRequestManager.mostRecentDisplayViews.get(0).description}'"
                id="executeView1Button"
                actionListener="#{cableRequestManager.executeDisplayView(displayViewRequestManager.firstMostRecentDisplayView)}"
                action="#{displayViewRequestManager.onDisplayViewExecute}"
                update=":cableTableForm " onstart="start()"
                oncomplete="stop(); updateCableTable();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 2}"
                value="View Execute '#{displayViewRequestManager.mostRecentDisplayViews.get(1).description}'"
                id="executeView2Button"
                actionListener="#{cableRequestManager.executeDisplayView(displayViewRequestManager.secondMostRecentDisplayView)}"
                action="#{displayViewRequestManager.onDisplayViewExecute}"
                update=":cableTableForm " onstart="start()"
                oncomplete="stop(); updateCableTable();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 3}"
                value="View Execute '#{displayViewRequestManager.mostRecentDisplayViews.get(2).description}'"
                id="executeView3Button"
                actionListener="#{cableRequestManager.executeDisplayView(displayViewRequestManager.thirdMostRecentDisplayView)}"
                action="#{displayViewRequestManager.onDisplayViewExecute}"
                update=":cableTableForm " onstart="start()"
                oncomplete="stop(); updateCableTable();"
                styleClass="ellipsis" />

              <p:separator />
              <p:menuitem value="Query Manage..." id="manageQueriesButton"
                oncomplete="PF('manageQueriesDialog').show();"
                action="#{queryRequestManager.onDialogOpen}"
                update=":manageQueriesForm" />
              <p:menuitem value="Query Execute..." id="executeQueryButton"
                oncomplete="PF('executeQueriesDialog').show();"
                update=":executeQueriesForm:executeQueriesDialog" />
              <p:menuitem value="Query Reset" id="resetQueriesButton"
                action="#{cableRequestManager.resetQuery()}"
                update=":cableTableForm" onstart="start()"
                oncomplete="stop(); updateCableTable()" />
              <p:separator
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 1}" />
              <p:menuitem
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 1}"
                value="Query Execute '#{queryRequestManager.mostRecentQueries.get(0).description}'"
                id="executeQuery1Button"
                actionListener="#{cableRequestManager.excuteQueryId(queryRequestManager.firstMostRecentQueryId)}"
                action="#{queryRequestManager.onQueryExecute}"
                update=":cableTableForm :queryExecutedDialogForm :cableTableForm:cableTable:tableMenuActions"
                onstart="start()"
                oncomplete="stop(); updateCableTable(); PF('queryExecutedDialog').show();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 2}"
                value="Query Execute '#{queryRequestManager.mostRecentQueries.get(1).description}'"
                id="executeQuery2Button"
                actionListener="#{cableRequestManager.excuteQueryId(queryRequestManager.secondMostRecentQueryId)}"
                action="#{queryRequestManager.onQueryExecute}"
                update=":cableTableForm :queryExecutedDialogForm"
                onstart="start()"
                oncomplete="stop(); updateCableTable(); PF('queryExecutedDialog').show();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 3}"
                value="Query Execute '#{queryRequestManager.mostRecentQueries.get(2).description}'"
                id="executeQuery3Button"
                actionListener="#{cableRequestManager.excuteQueryId(queryRequestManager.thirdMostRecentQueryId)}"
                action="#{queryRequestManager.onQueryExecute}"
                update=":cableTableForm :queryExecutedDialogForm :cableTableForm:cableTable:tableMenuActions"
                onstart="start()"
                oncomplete="stop(); updateCableTable(); PF('queryExecutedDialog').show();"
                styleClass="ellipsis" />

              <p:separator />
              <p:menuitem value="Import" title="Import cables from EXCEL template file."
                id="importButton" onclick="disableButtons('cableTableForm','buttons');"  class = "button"
                icon="ui-icon-folder-open" update=":dialogs"
                oncomplete="PF('uploadDialog').show();"
                rendered="#{cableRequestManager.canImportCables()}" />
              <p:menuitem value="Export" title="Export cables into EXCEL template file."
                id="exportButton" onstart="start()"
                disabled="#{!cableRequestManager.exportButtonEnabled}"
                action="#{cableRequestManager.updateCablesToExportSize()}"
                icon="ui-icon-disk" update=":dialogs" onclick="disableButtons('cableTableForm','buttons');"  class = "button"
                oncomplete="PF('exportDialog').show(); stop();" />
            </p:menuButton>
          </f:facet>

          <p:columns value="#{cableRequestManager.columns}" var="column"
            columnIndexVar="colIndex"
            styleClass="#{column.styleClass} #{cable.getCableCondition()}" style="#{column.style}"
            sortBy="#{cable[column.value]}"
            filterBy="#{cable[column.value]}"
            filterStyle="#{column.filterStyle}"
            filterMatchMode="#{column.filterMode}"
            headerText="#{column.columnLabel}"
            visible="#{cableRequestManager.isColumnVisible(colIndex)}">

            <f:facet name="filter">
              <p:autoComplete style="width: 100%"
                dropdown="#{column.filterDropdown}"
                completeMethod="#{cableRequestManager.completeFilter}"
                maxResults="10"
                onblur="var a=PrimeFaces.cookiesEnabled(); var b=#{column.filterCookie}; if(a &amp;&amp; b){PrimeFaces.setCookie('CD_CABLE_COLUMN_FILTER_'+'#{column.name()}', this.value, {expires:#{cableRequestManager.storagePersistenceDays}});}"
                onkeyup="var a=PrimeFaces.cookiesEnabled(); var b=#{column.filterCookie}; if(a &amp;&amp; b){PrimeFaces.setCookie('CD_CABLE_COLUMN_FILTER_'+'#{column.name()}', this.value, {expires:#{cableRequestManager.storagePersistenceDays}});}">
                <p:ajax event="blur" onstart="waitUntilLoaded('cableTable', 1000, function(){PF('cableTable').filter()})" />
                <p:ajax event="keyup" onstart="waitUntilLoaded('cableTable', 1000, function(){PF('cableTable').filter()})" />
                <f:attribute name="column" value="#{column}" />
              </p:autoComplete>
            </f:facet>

            <h:outputText
              value="#{cable[column.value]}"
              styleClass="#{ cable.getCablePropertyCondition(column.getColumnLabel())}"
              rendered="#{column.columnStyle.plainText}" />
            <p:commandLink update=":cableExtremitiesForm"
              oncomplete="PF('cableExtremitiesDialog').show()"
              rendered="#{column.columnStyle.dialog}">
              <h:outputText value="#{cable[column.value]}"
                styleClass="#{ cable.getCablePropertyCondition(column.getColumnLabel())}" />
              <f:setPropertyActionListener
                target="#{cableRequestManager.selectedDevice}"
                value="#{cable[column.value]}" />
            </p:commandLink>

            <h:outputLink value="#{cableRequestManager.encodeURL(cable[column.url])}"
              rendered="#{column.columnStyle.url}">
              <h:outputText value="#{cable[column.value]}"
                styleClass="#{cable.getCablePropertyCondition(column.getColumnLabel())}" />
            </h:outputLink>

            <p:commandLink update=":displayLongGeneralForm"
              oncomplete="PF('displayLongGeneral').show('#{component.clientId}');"
              styleClass="#{cable.getCablePropertyCondition(column.getColumnLabel())} ellipsis"
              rendered="#{column.columnStyle.longText or column.columnStyle.routing}">

              <f:setPropertyActionListener value="#{column.columnLabel}"
                target="#{cableRequestManager.longTextOverlayHeader}" />
              <f:setPropertyActionListener
                value="#{cable[column.value]}"
                target="#{cableRequestManager.longTextOverlayContent}" />
              <f:setPropertyActionListener value="#{cable.getDeviceURL(column.getColumnLabel())}"
                target="#{cableRequestManager.longOverlayURL}" />
              <h:outputText value="#{cable[column.value]}"/>
            </p:commandLink>

            <h:outputLink
              styleClass="#{cable.status eq 'DELETED' ? 'deleted' : ''}"
              value="#{cable[column.value]}"
              rendered="#{column.columnStyle.shortLink and cable[column.value] != ''}"
              target="_blank">
                            Link
            </h:outputLink>

            <p:commandLink ajax="false" title="Download"
              rendered="#{column.columnStyle.download}"
              style="margin-left:1ex;"
              styleClass="#{cable.status eq 'DELETED' ? 'deleted ellipsis' : ''}">
              <h:outputText
              rendered="#{not empty cable[column.value].name}"
              value="#{cable[column.value].name} (#{cable[column.value].id})" />
              <p:fileDownload
                value="#{cableTypeRequestManager.downloadFile(cable[column.value])}" />
            </p:commandLink>

            <p:link rendered="#{cableRequestManager.linkToChess(cable, column)}" target="_blank"
                    href="#{cableRequestManager.chessURL}#{cable.name}" title="Open in Chess">
                <h:outputText value="" rendered="#{cableRequestManager.linkToChess(cable, column)}"
                    style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                    styleClass="ui-icon ui-icon-extlink"/>
            </p:link>

          </p:columns>

          <p:column id="historyColumn" styleClass="fixed_width64" style="width:64px;" visible="#{cableRequestManager.isColumnVisible(30)}">
            <f:facet name="header">
              <h:outputText value="History" title="Cable history." />
            </f:facet>

            <p:commandLink value="Show"
              action="#{historyRequestManager.prepareCableHistory(cable.id)}"
              oncomplete="PF('historyDialog').show(); stop();"
              update=":historyForm" onstart="start()"
               />
          </p:column>

        </p:dataTable>

        <!--Dummy command intercepts enter key press in table and discards it-->
        <p:defaultCommand target="dummy" />
        <p:commandButton id="dummy" process="@none" global="false" style="display:none;" />

      </h:form>

      <ui:include src="/resources/dialogs/display-long-general.xhtml">
      <ui:param name="formId" value="displayLongGeneral" />
        <ui:param name="title"
          value="#{cableRequestManager.longTextOverlayHeader}" />
        <ui:param name="columnContent"
          value="#{cableRequestManager.longTextOverlayContent}" />
          <ui:param name="URL"
            value="#{cableRequestManager.longOverlayURL}" />
      </ui:include>

      <ui:include
        src="/resources/dialogs/delete-multi-confirmation.xhtml">
        <ui:param name="formId" value="deleteCablesForm" />
        <ui:param name="dialogTitle" value="Delete Cables" />
        <ui:param name="widgetName" value="deleteCablesDialog" />
        <ui:param name="controller" value="#{cableRequestManager}" />
        <ui:param name="deletePreventionList"
          value="#{cableRequestManager.deletedCables}" />
        <ui:param name="deleteList"
          value="#{cableRequestManager.selectedCables}" />
        <ui:param name="submitHandler" value="onCableDelete" />
        <ui:param name="closeHandler" value="resetValues" />
        <ui:param name="formsToUpdate"
          value=":cableTableForm :cableDBGrowl :cableTableForm:cableTable:tableMenuActions" />
        <ui:param name="closeDialogActions"
          value="PF('cableTable').clearFilters(); updateCableTable();" />
        <ui:param name="entityType" value="cables" />
        <ui:param name="entityName" value="Cable" />
        <ui:param name="cause" value="already deleted" />
      </ui:include>

      <ui:include src="/resources/dialogs/cable.xhtml">
        <ui:param name="formId" value="editCableForm" />
        <ui:param name="dialogTitle" value="Edit Cable" />
        <ui:param name="widgetName" value="editCableDialog" />
        <ui:param name="submitHandler" value="onCableEdit" />
      </ui:include>

      <ui:include src="/resources/dialogs/cable.xhtml">
        <ui:param name="formId" value="addCableForm" />
        <ui:param name="dialogTitle" value="Add Cable" />
        <ui:param name="widgetName" value="addCableDialog" />
        <ui:param name="submitHandler" value="onCableAdd" />
      </ui:include>

      <ui:include src="/resources/dialogs/import-stats-dialog.xhtml">
        <ui:param name="formId" value="importCablesStatisticForm" />
        <ui:param name="widgetName" value="importCablesStatisticDialog" />
        <ui:param name="controller" value="#{cableRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/cable-extremities.xhtml" />

      <ui:include src="/resources/dialogs/history-dialog.xhtml">
        <ui:param name="formId" value="historyForm" />
        <ui:param name="widgetName" value="historyDialog" />
        <ui:param name="title" value="Cable History" />
        <ui:param name="entity" value="cable" />
        <ui:param name="controller" value="#{historyRequestManager}" />
        <ui:param name="showType" value="false" />
        <ui:param name="tableHeight" value="650" />
      </ui:include>

      <ui:include src="/resources/dialogs/execute-query.xhtml">
        <ui:param name="formId" value="executeQueriesForm" />
        <ui:param name="widgetName" value="executeQueriesDialog" />
        <ui:param name="dialogTitle" value="Execute Queries" />
        <ui:param name="controller" value="#{cableRequestManager}" />
        <ui:param name="submitHandler" value="executeQuery" />
        <ui:param name="selectionHandler" value="selectedQuery" />
        <ui:param name="onCompleteUpdate" value="updateCableTable();" />
        <ui:param name="componentsToUpdate"
          value=":cableTableForm :queryExecutedDialogForm" />
      </ui:include>
      <ui:include src="/resources/dialogs/manage-queries.xhtml">
        <ui:param name="formId" value="manageQueriesForm" />
        <ui:param name="widgetName" value="manageQueriesDialog" />
        <ui:param name="dialogTitle" value="Manage Queries" />
        <ui:param name="componentsToUpdate"
          value=":cableTableForm:cableTable:tableMenuActions" />
      </ui:include>

      <ui:include src="/resources/dialogs/query-result-dialog.xhtml">
        <ui:param name="controller" value="#{cableRequestManager}" />
        <ui:param name="fillteredHandler" value="numberOfFilteredItems" />
      </ui:include>

      <ui:include src="/resources/dialogs/summary.xhtml">
        <ui:param name="formId" value="querySummaryDialogForm" />
        <ui:param name="widgetName" value="querySummaryDialog" />
        <ui:param name="Id" value="querySummaryDialogId" />
        <ui:param name="requestManager" value="#{queryRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/summary.xhtml">
        <ui:param name="formId" value="displayViewSummaryDialogForm" />
        <ui:param name="widgetName" value="displayViewSummaryDialog" />
        <ui:param name="Id" value="displayViewSummaryDialogId" />
        <ui:param name="requestManager"
          value="#{displayViewRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/manage-display-views.xhtml">
        <ui:param name="formId" value="manageDisplayViewsForm" />
        <ui:param name="widgetName" value="manageDisplayViewsDialog" />
        <ui:param name="dialogTitle" value="Manage Display Views" />
        <ui:param name="componentsToUpdate"
          value=":cableTableForm:cableTable:tableMenuActions" />
      </ui:include>

      <ui:include src="/resources/dialogs/execute-display-view.xhtml">
        <ui:param name="formId" value="executeDisplayViewForm" />
        <ui:param name="widgetName" value="executeDisplayViewDialog" />
        <ui:param name="dialogTitle" value="Execute Display Views" />
        <ui:param name="controller" value="#{cableRequestManager}" />
        <ui:param name="submitHandler"
          value="executeSelectedDisplayView" />
        <ui:param name="selectionHandler" value="selectedDisplayView" />
        <ui:param name="onCompleteUpdate" value="updateCableTable();" />
        <ui:param name="componentsToUpdate" value=":cableTableForm " />
      </ui:include>

      <ui:include src="/resources/dialogs/cannot-find-entity.xhtml">
        <ui:param name="formId" value="cannotFindCableForm" />
        <ui:param name="widgetName" value="cannotFindCable" />
        <ui:param name="entityCamel" value="Cable" />
        <ui:param name="entity" value="cable" />
        <ui:param name="controller" value="#{cableRequestManager}" />
        <ui:param name="submitHandler" value="requestedCableName" />
      </ui:include>

      <ui:include src="/resources/dialogs/uploadArtifacts.xhtml"/>

      <script type="text/javascript">
          $("[name='content']").ready(function() {
              // url acquired search
              var result = location.search.split('cableName=')[1] ? location.search.split('cableName=')[1] : 'Null';
              removeSessionIdAndParametersFromUrl();
              if (result == 'Null') {
                  // filter according to stored values (cookies)
                  var a=PrimeFaces.cookiesEnabled();
                  var filter;
                  if (a) {
                      filter = $("#cableTableForm\\:cableTable_head").find(".ui-column-title:contains('Sy')").parent().find(".ui-autocomplete-input");
                      filter.val(PrimeFaces.getCookie('CD_CABLE_COLUMN_FILTER_SYSTEM'))
                      filter = $("#cableTableForm\\:cableTable_head").find(".ui-column-title:contains('Su')").parent().find(".ui-autocomplete-input");
                      filter.val(PrimeFaces.getCookie('CD_CABLE_COLUMN_FILTER_SUBSYSTEM'))
                      filter = $("#cableTableForm\\:cableTable_head").find(".ui-column-title:contains('Cl')").parent().find(".ui-autocomplete-input");
                      filter.val(PrimeFaces.getCookie('CD_CABLE_COLUMN_FILTER_CLASS'))
                  }

                  // display the default filter that is used in the lazyModel so that the user can see it.
                  filter = $("#cableTableForm\\:cableTable_head").find(".ui-column-title:contains('Status')").parent().find(".ui-autocomplete-input");
                  filter.val('NON-DELETED')

                  PF('cableTable').filter()
              }
          });
      </script>
    </ui:fragment>
  </ui:define>
</ui:composition>
