<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">
    <script type="text/javascript">
          function updateCableTypeTable() {
            PF('cableTypeTable').filter();
          }
        </script>
    <style>
#cableTypeTableForm\:cableTypeTable table {
  width: auto;
}
</style>
  </ui:define>

  <ui:define name="content">
    <ui:fragment rendered="#{userManager.loggedIn}">

      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog header="Info" widgetVar="toBeImplementedDialog"
          minHeight="50" modal="true" dynamic="true">
          <h:outputText value="To be implemented soon!" />
        </p:dialog>

        <p:dialog id="uploadDialog"
          header="Upload Cable Types Spreadsheet"
          widgetVar="uploadDialog" modal="true"
          visible="#{cableTypeRequestManager.fileToBeImportedExists and cableTypeRequestManager.importResult == null}"
          closable="false" dynamic="true">

          <h:form id="importForm" enctype="multipart/form-data">

            <h:panelGroup
              rendered="#{!cableTypeRequestManager.fileToBeImportedExists}"
              layout="block">
              <h:panelGroup
                rendered="#{cableTypeRequestManager.canImportCableTypes()}"
                layout="block">
                                Please choose cable type list Excel file.
                            </h:panelGroup>

              <h:panelGroup
                rendered="#{!cableTypeRequestManager.canImportCableTypes()}"
                layout="block" styleClass="invalid"
                style="margin-top: 8px">
                                You do not have permission to import cable type list.
                            </h:panelGroup>

              <p:spacer height="8" />

              <p:fileUpload id="fileUpload"
                fileUploadListener="#{cableTypeRequestManager.cableTypeFileUpload}"
                rendered="#{cableTypeRequestManager.canImportCableTypes()}"
                style="margin-top: 8px" mode="advanced" auto="true"
                fileLimit="1" dragDropSupport="true"
                allowTypes="/(\.|\/)(xlsx|xls)$/" update=":dialogs" />

            </h:panelGroup>

            <p:separator />

            <p:commandButton value="Upload" style="float: left"
              title="Upload file with cable type definitions."
              update=":dialogs :cableTypeTableForm:cableTypeTable:tableMenuActions" onclick="start()"
              oncomplete="stop(); updateCableTypeTable();"
              action="#{cableTypeRequestManager.cableTypeImportTest()}"
              disabled="#{!cableTypeRequestManager.fileToBeImportedExists}" />
            <!-- p:commandButton commits the form without appropriate enctype, so use h:commandButton instead and make it behave as p:commandButton -->
            <h:commandButton id="uploadCancel" value="Cancel"
              title="Cancel upload." style="float: right;"
              action="#{cableTypeRequestManager.clearImportState()}">
              <f:ajax render=":dialogs :cableTypeTableForm:cableTypeTable:tableMenuActions" />
            </h:commandButton>
            <script type="text/javascript">
                          behaveAsPCommandButton('importForm\\:uploadCancel');
                        </script>
          </h:form>
        </p:dialog>

        <p:dialog id="importDialog" widgetVar="importDialog"
          visible="#{cableTypeRequestManager.fileToBeImportedExists and cableTypeRequestManager.importResult != null}"
          style="max-width: 110%; max-height: 600px;" resizable="false"
          closable="false" dynamic="true">

          <f:facet name="header">
            <h:outputText
              rendered="#{cableTypeRequestManager.importResult.error}"
              value="Error in Import Spreadsheet" styleClass="invalid" />
            <h:outputText
              rendered="#{!cableTypeRequestManager.importResult.error}"
              value="Cable Type Import" />
          </f:facet>
          <h:form>
          <p:panel styleClass="para">

            <h:panelGroup
              rendered="#{cableTypeRequestManager.importResult.error}"
              layout="block" style="margin-top: 8px">
                            Cable type data cannot be imported since there are some errors in the spreadsheet. Please correct the errors and try the import again.
                        </h:panelGroup>

            <h:panelGroup
              rendered="#{!cableTypeRequestManager.importResult.error}"
              layout="block">
                            Review the import messages and confirm the cable type import.
                        </h:panelGroup>

          </p:panel>

          <p:dataTable
            value="#{cableTypeRequestManager.importResult.errors}"
            var="errorRow" scrollable="true" scrollHeight="180"
            style="max-width: 100%; margin-bottom: 1em; width: 58em;"
            rendered="#{cableTypeRequestManager.importResult.error}">
            <p:column headerText="Row" width="15%"
              filterBy="#{errorRow.row}" filterMatchMode="contains"
              sortBy="#{errorRow.row}" filterStyle="width: 80%">
              <h:outputText value="#{errorRow.row}" />
            </p:column>
            <p:column headerText="Column" width="15%"
              filterBy="#{errorRow.column}" filterMatchMode="contains"
              sortBy="#{errorRow.column}" filterStyle="width: 80%">
              <h:outputText value="#{errorRow.column}" />
            </p:column>
            <p:column headerText="Value" width="15%"
              filterBy="#{errorRow.value}" filterMatchMode="contains"
              sortBy="#{errorRow.value}" filterStyle="width: 80%">
              <h:outputText
                value="#{empty errorRow.value ? '&lt;undefined&gt;' : errorRow.value}" />
            </p:column>
            <p:column headerText="Error" width="55%"
              filterBy="#{errorRow.message.toString()}"
              filterMatchMode="contains"
              sortBy="#{errorRow.message.toString()}"
              filterStyle="width: 80%">
              <h:outputText value="#{errorRow.message.toString()}" />
            </p:column>
          </p:dataTable>

          <p:panel
            style="max-width: 100%; max-height: 400px; overflow: auto"
            rendered="#{!cableTypeRequestManager.importResult.error}">
            <pre>
                            <h:outputText
                value="#{cableTypeRequestManager.importResult.toString()}" />
                        </pre>
          </p:panel>
          </h:form>

          <p:spacer height="16" />

          <h:form id="importConfirmForm">
            <p:commandButton value="Import" style="float: left"
              title="Import cable types."
              update=":importCableTypesStatisticForm :dialogs :cableTypeTableForm:cableTypeTable"
              onclick="start()"
              oncomplete="PF('importCableTypesStatisticDialog').show(); stop(); updateCableTypeTable();"
              action="#{cableTypeRequestManager.cableTypeImport()}"
              disabled="#{!cableTypeRequestManager.canImportCableTypes() or cableTypeRequestManager.importResult.error}" />

            <p:commandButton value="Cancel" style="float: right"
              title="Cancel import."
              action="#{cableTypeRequestManager.clearImportState()}"
              update=":dialogs" />

          </h:form>
        </p:dialog>

        <p:dialog id="exportDialog" header="Export Cable Types" modal="true"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{cableTypeRequestManager.cableTypesToExport.size()}" />
                <h:outputText
                  value="#{cableTypeRequestManager.selectedCableTypes.isEmpty() ? '' : ' selected'}" />
                cable type
                <h:outputText
                  value="#{cableTypeRequestManager.cableTypesToExport.size() == 1 ? '' : 's'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export" title="Export Cable Types"
              style="float: left" ajax="false" update=":cableTypeTableForm:cableTypeTable:tableMenuActions"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{cableTypeRequestManager.cableTypeSheetWithCableTypesToExport}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                action="#{cableTypeRequestManager.clearImportState()}"
                update=":dialogs :cableTypeTableForm:cableTypeTable:tableMenuActions" />
            </div>
          </h:form>
        </p:dialog>

      </p:outputPanel>

      <h:form id='cableTypeTableForm'>

        <p:remoteCommand name="updatePageSize" action="#{cableTypeRequestManager.onPaginatePageSize}" />

        <p:dataTable id="cableTypeTable" var="cableType"
          value="#{cableTypeRequestManager.cableTypes}"
          rowKey="#{cableType.id}" widgetVar="cableTypeTable"
          filteredValue="#{cableTypeRequestManager.filteredCableTypes}"
          emptyMessage="No records found."
          scrollable="true"
          selection="#{cableTypeRequestManager.selectedCableTypes}"
          selectionMode="multiple"
          first="#{cableTypeRequestManager.rowNumber}"
          rows="#{cableTypeRequestManager.rows}"
          paginator="true"
          paginatorAlwaysVisible="true"
          paginatorPosition = "bottom"
          paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
          rowsPerPageTemplate="10,20,30,40,50">

          <!-- using filters seems to break sync between selection state and what is displayed, so clear selection after filter usage -->
          <p:ajax event="filter" process="@this"
            listener="#{cableTypeRequestManager.clearSelectedCableTypes()}" />
          <p:ajax event="page" process="@this"
            listener="#{cableTypeRequestManager.onPaginate}"
            update="tableMenuActions"
            oncomplete="updatePageSize()" />
          <p:ajax event="rowSelect" process="@this"
            listener="#{cableTypeRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="rowUnselect" process="@this"
            listener="#{cableTypeRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="toggleSelect" process="@this"
            listener="#{cableTypeRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="rowSelectCheckbox" process="@this"
            listener="#{cableTypeRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="rowUnselectCheckbox" process="@this"
            listener="#{cableTypeRequestManager.onRowSelect}"
            update="tableMenuActions" />
          <p:ajax event="filter"
            update="tableMenuActions" />
          <p:ajax event="sort"
            onstart="start();"
            oncomplete="stop();" />

          <f:facet name="header">
            <p:commandButton id="toggler" type="button" value="Columns" style="float:left" />
            <p:columnToggler datasource="cableTypeTable" trigger="toggler">
              <p:ajax event="toggle" listener="#{cableTypeRequestManager.onToggle}" />
            </p:columnToggler>

            <p:menuButton id="tableMenuActions" value="Actions" style="float: right; text-align: left;">
              <p:menuitem value="Add" title="Add new cable type."
                id="addCableTypeButton" onclick="disableButtons('cableTypeTableForm','buttons');"  class = "button"
                icon="ui-icon-plus"
                rendered="#{cableTypeRequestManager.editCableType}"
                actionListener="#{cableTypeRequestManager.prepareAddPopup()}"
                onstart="start()"
                oncomplete="stop(); PF('addCableTypeDialog').show();"
                update=":addCableTypeForm" />
              <p:menuitem value="Edit" title="Edit selected cable type."
                id="editCableTypeButton" ajax="true"
                icon="ui-icon-pencil" onclick="disableButtons('cableTypeTableForm','buttons');"  class = "button"
                rendered="#{cableTypeRequestManager.editCableType}"
                action="#{cableTypeRequestManager.prepareEditPopup()}"
                update=":editCableTypeForm" onstart="start()"
                oncomplete="stop(); PF('editCableTypeDialog').show();"
                disabled="#{!cableTypeRequestManager.editButtonEnabled}" />
              <p:menuitem value="Delete" title="Delete selected cable types."
                id="deleteCableTypeButton" ajax="true"
                icon="ui-icon-trash"
                actionListener="#{cableTypeRequestManager.checkCableTypesForDeletion()}"
                rendered="#{cableTypeRequestManager.editCableType}"
                oncomplete="PF('deleteCableTypesDialog').show();"
                onclick="disableButtons('cableTypeTableForm','buttons');"  class = "button"
                update=":deleteCableTypesForm:deleteCableTypesDialog"
                disabled="#{!cableTypeRequestManager.deleteButtonEnabled}" />

              <p:separator />
              <p:menuitem value="View Manage..." id="manageViewsButton"
                oncomplete="PF('manageDisplayViewsDialog').show();"
                action="#{displayViewRequestManager.onDialogOpen}"
                update=":manageDisplayViewsForm" />
              <p:menuitem value="View Execute..." id="executeViewButton"
                oncomplete="PF('executeDisplayViewDialog').show();"
                update=":executeDisplayViewForm:executeDisplayViewDialog" />
              <p:menuitem value="View Reset" id="resetViewsButton"
                action="#{cableTypeRequestManager.resetDisplayView()}"
                update=":cableTypeTableForm" onstart="start()"
                oncomplete="stop(); updateCableTypeTable()" />
              <p:separator
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 1}" />
              <p:menuitem
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 1}"
                value="View Execute '#{displayViewRequestManager.mostRecentDisplayViews.get(0).description}'"
                id="executeView1Button"
                actionListener="#{cableTypeRequestManager.executeDisplayView(displayViewRequestManager.firstMostRecentDisplayView)}"
                action="#{displayViewRequestManager.onDisplayViewExecute}"
                update=":cableTypeTableForm" onstart="start()"
                oncomplete="stop(); updateCableTypeTable();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 2}"
                value="View Execute '#{displayViewRequestManager.mostRecentDisplayViews.get(1).description}'"
                id="executeView2Button"
                actionListener="#{cableTypeRequestManager.executeDisplayView(displayViewRequestManager.secondMostRecentDisplayView)}"
                action="#{displayViewRequestManager.onDisplayViewExecute}"
                update=":cableTypeTableForm" onstart="start()"
                oncomplete="stop(); updateCableTypeTable();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{displayViewRequestManager.mostRecentDisplayViews.size() >= 3}"
                value="View Execute '#{displayViewRequestManager.mostRecentDisplayViews.get(2).description}'"
                id="executeView3Button"
                actionListener="#{cableTypeRequestManager.executeDisplayView(displayViewRequestManager.thirdMostRecentDisplayView)}"
                action="#{displayViewRequestManager.onDisplayViewExecute}"
                update=":cableTypeTableForm" onstart="start()"
                oncomplete="stop(); updateCableTypeTable();"
                styleClass="ellipsis" />

              <p:separator />
              <p:menuitem value="Query Manage..." id="manageQueriesButton"
                oncomplete="PF('manageQueriesDialog').show();"
                action="#{queryRequestManager.onDialogOpen}"
                update=":manageQueriesForm" />
              <p:menuitem value="Query Execute..." id="executeQueryButton"
                oncomplete="PF('executeQueriesDialog').show();"
                update=":executeQueriesForm:executeQueriesDialog" />
              <p:menuitem value="Query Reset" id="resetQueriesButton"
                action="#{cableTypeRequestManager.resetQuery()}"
                update=":cableTypeTableForm" onstart="start()"
                oncomplete="stop(); updateCableTypeTable()" />
              <p:separator
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 1}" />
              <p:menuitem
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 1}"
                value="Query Execute '#{queryRequestManager.mostRecentQueries.get(0).description}'"
                id="executeQuery1Button"
                actionListener="#{cableTypeRequestManager.excuteQueryId(queryRequestManager.firstMostRecentQueryId)}"
                action="#{queryRequestManager.onQueryExecute}"
                update=":cableTypeTableForm :queryExecutedDialogForm"
                onstart="start()"
                oncomplete="stop(); updateCableTypeTable(); PF('queryExecutedDialog').show();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 2}"
                value="Query Execute '#{queryRequestManager.mostRecentQueries.get(1).description}'"
                id="executeQuery2Button"
                actionListener="#{cableTypeRequestManager.excuteQueryId(queryRequestManager.secondMostRecentQueryId)}"
                action="#{queryRequestManager.onQueryExecute}"
                update=":cableTypeTableForm :queryExecutedDialogForm"
                onstart="start()"
                oncomplete="stop(); updateCableTypeTable(); PF('queryExecutedDialog').show();"
                styleClass="ellipsis" />
              <p:menuitem
                rendered="#{queryRequestManager.mostRecentQueries.size() >= 3}"
                value="Query Execute '#{queryRequestManager.mostRecentQueries.get(2).description}'"
                id="executeQuery3Button"
                actionListener="#{cableTypeRequestManager.excuteQueryId(queryRequestManager.thirdMostRecentQueryId)}"
                action="#{queryRequestManager.onQueryExecute}"
                update=":cableTypeTableForm :queryExecutedDialogForm"
                onstart="start()"
                oncomplete="stop(); updateCableTypeTable(); PF('queryExecutedDialog').show();"
                styleClass="ellipsis" />

              <p:separator />
              <p:menuitem value="Request" title="Request new cable type."
                id="requestCableTypeButton" ajax="true"
                icon="ui-icon-plus"
                rendered="#{!cableTypeRequestManager.editCableType}"
                oncomplete="PF('requestNewCableTypeDialog').show();" />
              <p:menuitem value="Import" title="Import cable types from EXCEL template file."
                id="importButton" icon="ui-icon-folder-open"
                update=":dialogs" oncomplete="PF('uploadDialog').show();"
                onclick="disableButtons('cableTypeTableForm','buttons');"  class = "button"
                rendered="#{cableTypeRequestManager.canImportCableTypes()}" />
              <p:menuitem value="Export" title="Export cable types into EXCEL template file"
                id="exportButton" icon="ui-icon-disk"
                update=":dialogs" oncomplete="PF('exportDialog').show();"
                onclick="disableButtons('cableTypeTableForm','buttons');"  class = "button"
                disabled="#{cableTypeRequestManager.filteredCableTypes.size() == 0}" />
            </p:menuButton>
          </f:facet>

          <p:columns value="#{cableTypeRequestManager.columns}"
            var="column" columnIndexVar="colIndex"
            styleClass="#{column.styleClass}" style="#{column.style}"
            sortBy="#{cableType[column.value]}"
            filterBy="#{cableType[column.value]}"
            filterStyle="#{column.filterStyle}"
            filterMatchMode="#{column.filterMode}"
            headerText="#{column.columnLabel}"
            visible="#{cableTypeRequestManager.isColumnVisible(colIndex)}">

            <f:facet name="filter">
              <p:autoComplete style="width: 100%"
                dropdown="#{column.filterDropdown}"
                completeMethod="#{cableTypeRequestManager.completeFilter}"
                maxResults="10">
                <p:ajax event="blur" onstart="waitUntilLoaded('cableTypeTable', 1000, function(){PF('cableTypeTable').filter()})" />
                <p:ajax event="keyup" onstart="waitUntilLoaded('cableTypeTable', 1000, function(){PF('cableTypeTable').filter()})" />
                <f:attribute name="column" value="#{column}" />
              </p:autoComplete>
            </f:facet>

            <h:outputText value="#{cableType[column.value]}"
              rendered="#{column.columnStyle.plainText}"
              styleClass="#{cableType.active? '' : 'deleted'}" />

            <p:commandLink ajax="false" title="Download"
              rendered="#{column.columnStyle.download}"
              style="margin-left: 1ex;"
              styleClass="#{cableType.active ? '' : 'deleted'}">
              <h:outputText value="#{cableType[column.value]}" />
              <p:fileDownload
                value="#{cableTypeRequestManager.downloadFile(column.value)}" />
            </p:commandLink>

            <h:outputLink value="#{cableType[column.url]}"
              rendered="#{column.columnStyle.url}"
              styleClass="#{cableType.active ? '' : 'deleted'}">
              <h:outputText value="#{cableType[column.value]}" />
              </h:outputLink>

            <p:commandLink update=":displayLongGeneralForm"
              oncomplete="PF('displayLongGeneral').show('#{component.clientId}');"
              styleClass="#{cableType.active ? 'ellipsis' : 'deleted ellipsis'}"
              rendered="#{column.columnStyle.longText}">

              <f:setPropertyActionListener value="#{column.columnLabel}"
                target="#{cableTypeRequestManager.longTextOverlayHeader}" />
              <f:setPropertyActionListener
                value="#{cableType[column.value]}"
                target="#{cableTypeRequestManager.longTextOverlayContent}" />
              <h:outputText value="#{cableType[column.value]}"/>
            </p:commandLink>

            <p:commandLink update=":displayLongManufacturersForm"
              oncomplete="PF('displayLongManufacturers').show('#{component.clientId}');"
              styleClass="#{cableType.active ? 'ellipsis' : 'deleted ellipsis'}"
              rendered="#{column.columnStyle.longLink}">

              <f:setPropertyActionListener value="#{column.columnLabel}"
                target="#{cableTypeRequestManager.longTextOverlayHeader}" />
              <f:setPropertyActionListener
                value="#{cableType[column.value]}"
                target="#{cableTypeRequestManager.longTextOverlayContent}" />
              <f:setPropertyActionListener value="#{cableType}"
                target="#{cableTypeRequestManager.longManufacturersOverlayCableType}" />
              <h:outputText value="#{cableType[column.value]}"/>
            </p:commandLink>

          </p:columns>

          <p:column id="historyColumn" styleClass="fixed_width64" style="width:64px;">
            <f:facet name="header">
              <h:outputText value="History" title="Cable type history." />
            </f:facet>
            <p:commandLink value="Show" onstart="start()"
              action="#{historyRequestManager.prepareCableTypeHistory(cableType.id)}"
              oncomplete="PF('historyDialog').show(); fixHistoryTable(); stop();"
              update=":historyForm" />
          </p:column>

        </p:dataTable>

        <!--Dummy command intercepts enter key press in table and discards it-->
        <p:defaultCommand target="dummy"/>
        <p:commandButton id="dummy" process="@none" global="false" style="display:none;" />

      </h:form>

      <ui:include src="/resources/dialogs/display-long-general.xhtml">
        <ui:param name="formId" value="displayLongGeneral" />
        <ui:param name="title"
          value="#{cableTypeRequestManager.longTextOverlayHeader}" />
        <ui:param name="columnContent"
          value="#{cableTypeRequestManager.longTextOverlayContent}" />
      </ui:include>

        <ui:include src="/resources/dialogs/display-long-general.xhtml">
        <ui:param name="formId" value="displayLongManufacturers" />
        <ui:param name="title"
          value="#{cableTypeRequestManager.longTextOverlayHeader}" />
        <ui:param name="columnContent"
          value="#{cableTypeRequestManager.longTextOverlayContent}" />
        <ui:param name="listOfLinks"
          value="#{cableTypeRequestManager.longManufacturersListOverlay}" />
      </ui:include>

      <ui:include
        src="/resources/dialogs/delete-multi-confirmation.xhtml">
        <ui:param name="formId" value="deleteCableTypesForm" />
        <ui:param name="dialogTitle" value="Delete Cable Types" />
        <ui:param name="widgetName" value="deleteCableTypesDialog" />
        <ui:param name="controller" value="#{cableTypeRequestManager}" />
        <ui:param name="deletePreventionList"
          value="#{cableTypeRequestManager.deletedCableTypes}" />
        <ui:param name="deleteList"
          value="#{cableTypeRequestManager.selectedCableTypes}" />
        <ui:param name="submitHandler" value="onCableTypeDelete" />
        <ui:param name="closeHandler" value="resetValues" />
        <ui:param name="formsToUpdate"
          value=":cableTypeTableForm :cableTypeTableForm:cableTypeTable:tableMenuActions :cableDBGrowl" />
        <ui:param name="closeDialogActions"
          value="PF('cableTypeTable').clearFilters(); updateCableTypeTable();" />
        <ui:param name="entityType" value="cable types" />
        <ui:param name="entityName" value="Cable type" />
        <ui:param name="cause" value="already obsoleted" />
      </ui:include>

      <ui:include src="/resources/dialogs/cable-type.xhtml">
        <ui:param name="formId" value="editCableTypeForm" />
        <ui:param name="dialogTitle" value="Edit Cable Type" />
        <ui:param name="widgetName" value="editCableTypeDialog" />
        <ui:param name="submitHandler" value="onCableTypeEdit" />
      </ui:include>

      <ui:include src="/resources/dialogs/cable-type.xhtml">
        <ui:param name="formId" value="addCableTypeForm" />
        <ui:param name="dialogTitle" value="Add Cable Type" />
        <ui:param name="widgetName" value="addCableTypeDialog" />
        <ui:param name="submitHandler" value="onCableTypeAdd" />
      </ui:include>

      <ui:include src="/resources/dialogs/import-stats-dialog.xhtml">
        <ui:param name="formId" value="importCableTypesStatisticForm" />
        <ui:param name="widgetName"
          value="importCableTypesStatisticDialog" />
        <ui:param name="controller" value="#{cableTypeRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/request-new-cable-type.xhtml" />

      <ui:include src="/resources/dialogs/history-dialog.xhtml">
        <ui:param name="formId" value="historyForm" />
        <ui:param name="widgetName" value="historyDialog" />
        <ui:param name="title" value="Cable Type History" />
        <ui:param name="entity" value="cable type" />
        <ui:param name="controller" value="#{historyRequestManager}" />
        <ui:param name="showType" value="false" />
        <ui:param name="tableHeight" value="650" />
      </ui:include>

      <ui:include src="/resources/dialogs/execute-query.xhtml">
        <ui:param name="formId" value="executeQueriesForm" />
        <ui:param name="widgetName" value="executeQueriesDialog" />
        <ui:param name="dialogTitle" value="Execute Queries" />
        <ui:param name="controller" value="#{cableTypeRequestManager}" />
        <ui:param name="submitHandler" value="executeQuery" />
        <ui:param name="selectionHandler" value="selectedQuery" />
        <ui:param name="onCompleteUpdate"
          value="updateCableTypeTable();" />
        <ui:param name="componentsToUpdate"
          value=":cableTypeTableForm :queryExecutedDialogForm" />
      </ui:include>

      <ui:include src="/resources/dialogs/manage-queries.xhtml">
        <ui:param name="formId" value="manageQueriesForm" />
        <ui:param name="widgetName" value="manageQueriesDialog" />
        <ui:param name="dialogTitle" value="Manage Queries" />
        <ui:param name="componentsToUpdate"
          value=":cableTypeTableForm:cableTypeTable:tableMenuActions" />
      </ui:include>

      <ui:include src="/resources/dialogs/query-result-dialog.xhtml">
        <ui:param name="controller" value="#{cableTypeRequestManager}" />
        <ui:param name="fillteredHandler" value="numberOfFilteredItems" />
      </ui:include>

      <ui:include src="/resources/dialogs/summary.xhtml">
        <ui:param name="formId" value="querySummaryDialogForm" />
        <ui:param name="widgetName" value="querySummaryDialog" />
        <ui:param name="Id" value="querySummaryDialogId" />
        <ui:param name="requestManager" value="#{queryRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/summary.xhtml">
        <ui:param name="formId" value="displayViewSummaryDialogForm" />
        <ui:param name="widgetName" value="displayViewSummaryDialog" />
        <ui:param name="Id" value="displayViewSummaryDialogId" />
        <ui:param name="requestManager"
          value="#{displayViewRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/manage-display-views.xhtml">
        <ui:param name="formId" value="manageDisplayViewsForm" />
        <ui:param name="widgetName" value="manageDisplayViewsDialog" />
        <ui:param name="dialogTitle" value="Manage Display Views" />
        <ui:param name="componentsToUpdate"
          value=":cableTypeTableForm:cableTypeTable:tableMenuActions" />
      </ui:include>

      <ui:include src="/resources/dialogs/execute-display-view.xhtml">
        <ui:param name="formId" value="executeDisplayViewForm" />
        <ui:param name="widgetName" value="executeDisplayViewDialog" />
        <ui:param name="dialogTitle" value="Execute Display Views" />
        <ui:param name="controller" value="#{cableTypeRequestManager}" />
        <ui:param name="submitHandler"
          value="executeSelectedDisplayView" />
        <ui:param name="selectionHandler" value="selectedDisplayView" />
        <ui:param name="onCompleteUpdate"
          value="updateCableTypeTable();" />
        <ui:param name="componentsToUpdate" value=":cableTypeTableForm " />
      </ui:include>

      <ui:include src="/resources/dialogs/cannot-find-entity.xhtml">
        <ui:param name="formId" value="cannotFindCableTypeForm" />
        <ui:param name="widgetName" value="cannotFindCableType" />
        <ui:param name="entityCamel" value="Cable Type" />
        <ui:param name="entity" value="cable type" />
        <ui:param name="controller" value="#{cableTypeRequestManager}" />
        <ui:param name="submitHandler" value="requestedCableTypeName" />
      </ui:include>

      <script type="text/javascript">
          $("[name='content']").ready(function() {
              var result = location.search.split('cableTypeName=')[1] ? location.search.split('cableTypeName=')[1]:'Null';
              removeSessionIdAndParametersFromUrl();
              // filter if no parameter from url
              if (result == 'Null') {
                  var filter = $("#cableTypeTableForm\\:cableTypeTable_head").find(".ui-column-title:contains('Status')").parent().find(".ui-autocomplete-input");
                  filter.val('VALID')
                  PF('cableTypeTable').filter();
              }
          });
      </script>
    </ui:fragment>
  </ui:define>
</ui:composition>
