<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">
    <script type="text/javascript">


            function updateConnectorTable() {
                PF('connectorTable').filter();
            }
        </script>
    <style>
</style>
  </ui:define>

  <ui:define name="content">
    <ui:fragment rendered="#{userManager.loggedIn}">

      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog id="exportDialog" header="Export Connectors" modal="true"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{connectorRequestManager.connectorsToExport.size()}" />
                <h:outputText
                  value="#{connectorRequestManager.selectedConnectors.isEmpty() ? '' : ' selected'}" />
                connector
                <h:outputText
                  value="#{connectorRequestManager.connectorsToExport.size() == 1 ? '' : 's'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export" title="Export connectors."
              style="float: left" ajax="false" update=":connectorTableForm:connectorTable:tableMenuActions"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{connectorRequestManager.simpleTableExporter.exportedTable}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                update=":dialogs :connectorTableForm:connectorTable:tableMenuActions" />
            </div>
          </h:form>
        </p:dialog>

      </p:outputPanel>

      <h:form id="connectorTableForm">
        <div style="width: calc(100% - 1em)">

          <p:remoteCommand name="updatePageSize" action="#{connectorRequestManager.onPaginatePageSize}" />

          <p:dataTable id="connectorTable" var="connector"
            value="#{connectorRequestManager.connectors}"
            rowKey="#{connector.id}" widgetVar="connectorTable"
            filteredValue="#{connectorRequestManager.filteredConnectors}"
            emptyMessage="No records found."
            scrollable="true"
            first="#{connectorRequestManager.rowNumber}"
            rows="#{connectorRequestManager.rows}"
            selection="#{connectorRequestManager.selectedConnectors}"
            selectionMode="multiple"
            paginator="true"
            paginatorAlwaysVisible="true"
            paginatorPosition = "bottom"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="10,20,30,40,50">

            <!-- using filters seems to break sync between selection state and what is displayed, so clear selection after filter usage -->
            <p:ajax event="filter" process="@this"
              listener="#{connectorRequestManager.clearSelectedConnectors()}" />
            <p:ajax event="page" process="@this"
              listener="#{connectorRequestManager.onPaginate}"
              update="tableMenuActions"
              oncomplete="updatePageSize()" />
            <p:ajax event="rowSelect" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowUnselect" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="toggleSelect" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowSelectCheckbox" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowUnselectCheckbox" process="@this"
              listener="#{connectorRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="filter"
              update="tableMenuActions" />
            <p:ajax event="sort"
                onstart="start();"
                oncomplete="stop();" />

            <f:facet name="header">
              <p:commandButton id="toggler" type="button" value="Columns" style="float:left" />
              <p:columnToggler datasource="connectorTable" trigger="toggler">
                <p:ajax event="toggle" listener="#{connectorRequestManager.onToggle}" />
              </p:columnToggler>

              <p:menuButton id="tableMenuActions" value="Actions" style="float: right; text-align: left;">
                <p:menuitem
                  value="Add" title="Add new connector." icon="ui-icon-plus"
                  rendered="#{connectorRequestManager.editConnector}"
                  actionListener="#{connectorRequestManager.prepareAddPopup()}"
                  onstart="start()" id="addConnectorButton" onclick="disableButtons('connectorTableForm','buttons');"  class = "button"
                  oncomplete="stop(); PF('addConnectorDialog').show();"
                  update=":addConnectorForm" />
                <p:menuitem
                  id="editConnectorButton" ajax="true" value="Edit"
                  icon="ui-icon-pencil"
                  rendered="#{connectorRequestManager.editConnector}"
                  title="Edit selected connector." onclick="disableButtons('connectorTableForm','buttons');"  class = "button"
                  action="#{connectorRequestManager.prepareEditPopup()}"
                  update=":editConnectorForm" onstart="start()"
                  oncomplete="stop(); PF('editConnectorDialog').show();"
                  disabled="#{!connectorRequestManager.editButtonEnabled}" />
                <p:menuitem
                  id="deleteConnectorButton" ajax="true" value="Delete"
                  icon="ui-icon-trash"
                  rendered="#{connectorRequestManager.editConnector}"
                  title="Delete selected connectors." onclick="disableButtons('connectorTableForm','buttons');"  class = "button"
                  actionListener="#{connectorRequestManager.checkConnectorsForDeletion()}"
                  oncomplete="PF('deleteConnectorsDialog').show();"
                  update=":deleteConnectorsForm:deleteConnectorsDialog"
                  disabled="#{!connectorRequestManager.deleteButtonEnabled}" />

                <p:separator />
                <p:menuitem
                  id="exportButton" value="Export" onclick="disableButtons('connectorTableForm','buttons');"  class = "button"
                  title="Export connectors into EXCEL template file."
                  icon="ui-icon-disk" update=":dialogs"
                  oncomplete="PF('exportDialog').show();"
                  disabled="#{connectorRequestManager.filteredConnectors.size() == 0}" />
              </p:menuButton>
            </f:facet>

            <p:columns value="#{connectorRequestManager.columns}"
              var="column" columnIndexVar="colIndex"
              styleClass="#{column.styleClass}" style="#{column.style}"
              sortBy="#{connector[column.value]}"
              filterBy="#{connector[column.value]}"
              filterStyle="#{column.filterStyle}"
              filterMatchMode="#{column.filterMode}"
              headerText="#{column.columnLabel}"
              visible="#{connectorRequestManager.isColumnVisible(colIndex)}">

              <f:facet name="filter">
                <p:autoComplete style="width: 100%"
                  dropdown="#{column.filterDropdown}"
                  completeMethod="#{connectorRequestManager.completeFilter}"
                  maxResults="10">
                  <p:ajax event="blur" onstart="waitUntilLoaded('connectorTable', 1000, function(){PF('connectorTable').filter()})" />
                  <p:ajax event="keyup" onstart="waitUntilLoaded('connectorTable', 1000, function(){PF('connectorTable').filter()})" />
                  <f:attribute name="column" value="#{column}" />
                </p:autoComplete>
              </f:facet>

              <h:outputText rendered="#{column.columnStyle.plainText}"
                styleClass="#{not connector.active ? 'deleted' : ''}"
                value="#{connector[column.value]}" />
              <p:commandLink update=":displayLongTextPanelForm"
                oncomplete="PF('displayLongTextPanel').show('#{component.clientId}');"
                styleClass="#{not connector.active ? 'deleted ellipsis' : 'ellipsis'}"
                rendered="#{column.columnStyle.longText}">
                <f:setPropertyActionListener
                  value="#{column.columnLabel}"
                  target="#{connectorRequestManager.longTextOverlayHeader}" />
                <f:setPropertyActionListener
                  value="#{connector[column.value]}"
                  target="#{connectorRequestManager.longTextOverlayContent}" />
                <h:outputText value="#{connector[column.value]}" />
              </p:commandLink>
              <p:commandLink ajax="false" title="Download"
                rendered="#{column.columnStyle.download}"
                style="margin-left:1ex;"
                styleClass="#{cable.status eq 'DELETED' ? 'deleted ellipsis' : ''}">
                <h:outputText rendered="#{not empty connector[column.fieldName].name}"
                value="#{connector[column.fieldName].name} (#{connector[column.fieldName].id})" />
                <p:fileDownload
                  value="#{cableTypeRequestManager.downloadFile(connector[column.fieldName])}" />
              </p:commandLink>
            </p:columns>

            <p:column id="historyColumn" styleClass="fixed_width64" style="width:64px;">
              <f:facet name="header">
                <h:outputText value="History" title="Connector history." />
              </f:facet>
              <p:commandLink value="Show" onstart="start()"
                action="#{historyRequestManager.prepareConnectorHistory(connector.id)}"
                oncomplete="PF('historyDialog').show(); fixHistoryTable(); stop();"
                update=":historyForm" />
            </p:column>

          </p:dataTable>

          <!--Dummy command intercepts enter key press in table and discards it-->
          <p:defaultCommand target="dummy" />
          <p:commandButton id="dummy" process="@none" global="false" style="display:none;" />

        </div>
      </h:form>

      <ui:include src="/resources/dialogs/display-long-general.xhtml">
        <ui:param name="formId" value="displayLongTextPanel" />
        <ui:param name="title"
          value="#{connectorRequestManager.longTextOverlayHeader}" />
        <ui:param name="columnContent"
          value="#{connectorRequestManager.longTextOverlayContent}" />
      </ui:include>

      <ui:include
        src="/resources/dialogs/delete-multi-confirmation.xhtml">
        <ui:param name="formId" value="deleteConnectorsForm" />
        <ui:param name="dialogTitle" value="Delete Connectors" />
        <ui:param name="widgetName" value="deleteConnectorsDialog" />
        <ui:param name="controller" value="#{connectorRequestManager}" />
        <ui:param name="deletePreventionList"
          value="#{connectorRequestManager.deletedConnectors}" />
        <ui:param name="deleteList"
          value="#{connectorRequestManager.selectedConnectors}" />
        <ui:param name="submitHandler" value="onConnectorDelete" />
        <ui:param name="closeHandler" value="resetValues" />
        <ui:param name="formsToUpdate"
          value=":connectorTableForm :cableDBGrowl :connectorTableForm:connectorTable:tableMenuActions" />
        <ui:param name="closeDialogActions"
          value="PF('connectorTable').clearFilters(); updateConnectorTable();" />
        <ui:param name="entityType" value="connectors" />
        <ui:param name="entityName" value="Connector" />
        <ui:param name="cause" value="already deleted" />
      </ui:include>

      <ui:include src="/resources/dialogs/connector.xhtml">
        <ui:param name="formId" value="editConnectorForm" />
        <ui:param name="dialogTitle" value="Edit Connector" />
        <ui:param name="widgetName" value="editConnectorDialog" />
        <ui:param name="submitHandler" value="onConnectorEdit" />
      </ui:include>

      <ui:include src="/resources/dialogs/connector.xhtml">
        <ui:param name="formId" value="addConnectorForm" />
        <ui:param name="dialogTitle" value="Add Connector" />
        <ui:param name="widgetName" value="addConnectorDialog" />
        <ui:param name="submitHandler" value="onConnectorAdd" />
      </ui:include>

      <ui:include src="/resources/dialogs/history-dialog.xhtml">
        <ui:param name="formId" value="historyForm" />
        <ui:param name="widgetName" value="historyDialog" />
        <ui:param name="title" value="Connector History" />
        <ui:param name="entity" value="connector" />
        <ui:param name="controller" value="#{historyRequestManager}" />
        <ui:param name="showType" value="false" />
        <ui:param name="tableHeight" value="650" />
      </ui:include>

      <ui:include src="/resources/dialogs/cannot-find-entity.xhtml">
        <ui:param name="formId" value="cannotFindConnectorForm" />
        <ui:param name="widgetName" value="cannotFindConnector" />
        <ui:param name="entityCamel" value="Connector" />
        <ui:param name="entity" value="connector" />
        <ui:param name="controller" value="#{connectorRequestManager}" />
        <ui:param name="submitHandler" value="requestedConnectorName" />
      </ui:include>

      <script type="text/javascript">
          $("[name='content']").ready(function() {
              var result = location.search.split('connectorName=')[1] ? location.search.split('connectorName=')[1] : 'Null';
              removeSessionIdAndParametersFromUrl();
              // filter if no parameter from url
              if (result == 'Null'){
                  var filter = $("#connectorTableForm\\:connectorTable_head").find(".ui-column-title:contains('Status')").parent().find(".ui-autocomplete-input");
                  filter.val('VALID')
                  PF('connectorTable').filter();
              }
          });
      </script>
    </ui:fragment>
  </ui:define>
</ui:composition>
