<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">
    <script type="text/javascript">
            function updateManufacturerTable() {
                PF('manufacturerTable').filter();
            }
        </script>
    <style>
</style>
  </ui:define>

  <ui:define name="content">
    <ui:fragment rendered="#{userManager.loggedIn}">

      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog id="exportDialog" header="Export Manufacturers" modal="true"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{manufacturerRequestManager.manufacturersToExport.size()}" />
                <h:outputText
                  value="#{manufacturerRequestManager.selectedManufacturers.isEmpty() ? '' : ' selected'}" />
                manufacturer
                <h:outputText
                  value="#{manufacturerRequestManager.manufacturersToExport.size() == 1 ? '' : 's'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export"
              title="Export manufacturers." style="float: left"
              ajax="false" update=":manufacturerTableForm:manufacturerTable:tableMenuActions"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{manufacturerRequestManager.simpleTableExporter.exportedTable}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                update=":dialogs :manufacturerTableForm:manufacturerTable:tableMenuActions" />
            </div>
          </h:form>
        </p:dialog>

      </p:outputPanel>

      <h:form id="manufacturerTableForm">
        <div style="width: calc(100% - 1em)">

          <p:remoteCommand name="updatePageSize" action="#{manufacturerRequestManager.onPaginatePageSize}" />

          <p:dataTable id="manufacturerTable" var="manufacturer"
            value="#{manufacturerRequestManager.manufacturers}"
            rowKey="#{manufacturer.id}" widgetVar="manufacturerTable"
            filteredValue="#{manufacturerRequestManager.filteredManufacturers}"
            emptyMessage="No records found."
            scrollable="true"
            first="#{manufacturerRequestManager.rowNumber}"
            rows="#{manufacturerRequestManager.rows}"
            selection="#{manufacturerRequestManager.selectedManufacturers}"
            selectionMode="multiple"
            paginator="true"
            paginatorAlwaysVisible="true"
            paginatorPosition = "bottom"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="10,20,30,40,50">

            <!-- using filters seems to break sync between selection state and what is displayed, so clear selection after filter usage -->
            <p:ajax event="filter" process="@this"
              listener="#{manufacturerRequestManager.clearSelectedManufacturers()}" />
            <p:ajax event="page" process="@this"
              listener="#{manufacturerRequestManager.onPaginate}"
              update="tableMenuActions"
              oncomplete="updatePageSize()" />
            <p:ajax event="rowSelect" process="@this"
              listener="#{manufacturerRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowUnselect" process="@this"
              listener="#{manufacturerRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="toggleSelect" process="@this"
              listener="#{manufacturerRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowSelectCheckbox" process="@this"
              listener="#{manufacturerRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowUnselectCheckbox" process="@this"
              listener="#{manufacturerRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="filter"
              update="tableMenuActions" />
            <p:ajax event="sort"
                onstart="start();"
                oncomplete="stop();" />

            <f:facet name="header">
              <p:commandButton id="toggler" type="button" value="Columns" style="float:left" />
              <p:columnToggler datasource="manufacturerTable" trigger="toggler">
                <p:ajax event="toggle" listener="#{manufacturerRequestManager.onToggle}" />
              </p:columnToggler>

              <p:menuButton id="tableMenuActions" value="Actions" style="float: right; text-align: left;">
                <p:menuitem
                  value="Add" title="Add new manufacturer."
                  id="addManufacturerButton"
                  icon="ui-icon-plus" onclick="disableButtons('manufacturerTableForm','buttons');"  class = "button"
                  rendered="#{manufacturerRequestManager.editManufacturer}"
                  actionListener="#{manufacturerRequestManager.prepareAddPopup()}"
                  onstart="start()"
                  oncomplete="stop(); PF('addManufacturerDialog').show();"
                  update=":addManufacturerForm" />
                <p:menuitem
                  id="editManufacturerButton" ajax="true" value="Edit"
                  icon="ui-icon-pencil" onclick="disableButtons('manufacturerTableForm','buttons');"  class = "button"
                  rendered="#{manufacturerRequestManager.editManufacturer}"
                  title="Edit selected manufacturer."
                  action="#{manufacturerRequestManager.prepareEditPopup()}"
                  update=":editManufacturerForm" onstart="start()"
                  oncomplete="stop(); PF('editManufacturerDialog').show();"
                  disabled="#{!manufacturerRequestManager.editButtonEnabled}" />
                <p:menuitem
                  id="deleteManufacturerButton" ajax="true" value="Delete"
                  icon="ui-icon-trash" onclick="disableButtons('manufacturerTableForm','buttons');"  class = "button"
                  rendered="#{manufacturerRequestManager.editManufacturer}"
                  title="Delete selected manufacturers."
                  actionListener="#{manufacturerRequestManager.checkManufacturersForDeletion()}"
                  oncomplete="PF('deleteManufacturersDialog').show();"
                  update=":deleteManufacturersForm:deleteManufacturersDialog"
                  disabled="#{!manufacturerRequestManager.deleteButtonEnabled}" />

                <p:separator />
                <p:menuitem
                  id="exportButton" value="Export" onclick="disableButtons('manufacturerTableForm','buttons');"  class = "button"
                  title="Export manufacturers into EXCEL template file."
                  icon="ui-icon-disk" update=":dialogs"
                  oncomplete="PF('exportDialog').show();"
                  disabled="#{manufacturerRequestManager.filteredManufacturers.size() == 0}" />
              </p:menuButton>
            </f:facet>

            <p:columns value="#{manufacturerRequestManager.columns}"
              var="column" columnIndexVar="colIndex"
              styleClass="#{column.styleClass}" style="#{column.style}"
              sortBy="#{manufacturer[column.value]}"
              filterBy="#{manufacturer[column.value]}"
              filterStyle="#{column.filterStyle}"
              filterMatchMode="#{column.filterMode}"
              headerText="#{column.columnLabel}"
              visible="#{manufacturerRequestManager.isColumnVisible(colIndex)}">

              <h:outputText rendered="#{column.columnStyle.plainText}"
                styleClass="#{manufacturer.status eq 'DELETED' ? 'deleted' : ''}"
                value="#{manufacturer[column.value]}" />
              <p:commandLink update=":displayLongTextPanelForm"
                oncomplete="PF('displayLongTextPanel').show('#{component.clientId}');"
                styleClass="#{manufacturer.status eq 'DELETED' ? 'deleted ellipsis' : 'ellipsis'}"
                rendered="#{column.columnStyle.longText}">
                <f:setPropertyActionListener
                  value="#{column.columnLabel}"
                  target="#{manufacturerRequestManager.longTextOverlayHeader}" />
                <f:setPropertyActionListener
                  value="#{manufacturer[column.value]}"
                  target="#{manufacturerRequestManager.longTextOverlayContent}" />
                <h:outputText value="#{manufacturer[column.value]}" />
              </p:commandLink>
            </p:columns>

            <p:column id="historyColumn" styleClass="fixed_width64" style="width:64px;">
              <f:facet name="header">
                <h:outputText value="History"
                  title="Manufacturer history." />
              </f:facet>
              <p:commandLink value="Show" onstart="start()"
                action="#{historyRequestManager.prepareManufacturerHistory(manufacturer.id)}"
                oncomplete="PF('historyDialog').show(); fixHistoryTable(); stop();"
                update=":historyForm" />
            </p:column>

          </p:dataTable>

          <!--Dummy command intercepts enter key press in table and discards it-->
          <p:defaultCommand target="dummy" />
          <p:commandButton id="dummy" process="@none" global="false" style="display:none;" />

        </div>
      </h:form>

      <ui:include src="/resources/dialogs/display-long-general.xhtml">
        <ui:param name="formId" value="displayLongTextPanel" />
        <ui:param name="title"
          value="#{manufacturerRequestManager.longTextOverlayHeader}" />
        <ui:param name="columnContent"
          value="#{manufacturerRequestManager.longTextOverlayContent}" />
      </ui:include>

      <ui:include
        src="/resources/dialogs/delete-multi-confirmation.xhtml">
        <ui:param name="formId" value="deleteManufacturersForm" />
        <ui:param name="dialogTitle" value="Delete Manufacturers" />
        <ui:param name="widgetName" value="deleteManufacturersDialog" />
        <ui:param name="controller"
          value="#{manufacturerRequestManager}" />
        <ui:param name="deletePreventionList"
          value="#{manufacturerRequestManager.deletedManufacturers}" />
        <ui:param name="deleteList"
          value="#{manufacturerRequestManager.selectedManufacturers}" />
        <ui:param name="submitHandler" value="onManufacturerDelete" />
        <ui:param name="closeHandler" value="resetValues" />
        <ui:param name="formsToUpdate"
          value=":manufacturerTableForm :cableDBGrowl :manufacturerTableForm:manufacturerTable:tableMenuActions" />
        <ui:param name="closeDialogActions"
          value="PF('manufacturerTable').clearFilters(); updateManufacturerTable();" />
        <ui:param name="entityType" value="manufacturers" />
        <ui:param name="entityName" value="Manufacturer" />
        <ui:param name="cause" value="already deleted" />
      </ui:include>

      <ui:include src="/resources/dialogs/manufacturer.xhtml">
        <ui:param name="formId" value="editManufacturerForm" />
        <ui:param name="dialogTitle" value="Edit Manufacturer" />
        <ui:param name="widgetName" value="editManufacturerDialog" />
        <ui:param name="submitHandler" value="onManufacturerEdit" />
      </ui:include>

      <ui:include src="/resources/dialogs/manufacturer.xhtml">
        <ui:param name="formId" value="addManufacturerForm" />
        <ui:param name="dialogTitle" value="Add Manufacturer" />
        <ui:param name="widgetName" value="addManufacturerDialog" />
        <ui:param name="submitHandler" value="onManufacturerAdd" />
      </ui:include>

      <ui:include src="/resources/dialogs/history-dialog.xhtml">
        <ui:param name="formId" value="historyForm" />
        <ui:param name="widgetName" value="historyDialog" />
        <ui:param name="title" value="Manufacturer History" />
        <ui:param name="entity" value="manufacturer" />
        <ui:param name="controller" value="#{historyRequestManager}" />
        <ui:param name="showType" value="false" />
        <ui:param name="tableHeight" value="650" />
      </ui:include>

      <ui:include src="/resources/dialogs/cannot-find-entity.xhtml">
        <ui:param name="formId" value="cannotFindManufacturerForm" />
        <ui:param name="widgetName" value="cannotFindManufacturer" />
        <ui:param name="entityCamel" value="manufacturer" />
        <ui:param name="entity" value="manufacturer" />
        <ui:param name="controller"
          value="#{manufacturerRequestManager}" />
        <ui:param name="submitHandler" value="requestedManufacturerName" />
      </ui:include>

      <script type="text/javascript">
          $("[name='content']").ready(function() {
              // parameters from url currently not used
              removeSessionIdAndParametersFromUrl();
          });
      </script>
    </ui:fragment>
  </ui:define>
</ui:composition>
