<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
  template="/WEB-INF/cableTemplate.xhtml"
  xmlns:p="http://primefaces.org/ui"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

  <ui:define name="head_content">
    <script type="text/javascript">
          function updateRoutingTable() {
            PF('routingTable').filter();
          }
        </script>
    <style>
</style>
  </ui:define>

  <ui:define name="content">
    <ui:fragment rendered="#{userManager.loggedIn}">

      <p:outputPanel id="dialogs">
        <p:growl id="messages" showDetail="true" sticky="false"
          life="5000" />

        <p:dialog id="uploadDialog"
          header="Upload Routing Request Spreadsheet"
          widgetVar="uploadDialog"
          modal="true"
          visible="#{routingRequestManager.fileToBeImportedExists and routingRequestManager.importResult == null}"
          closable="false" dynamic="true">

          <h:form id="importForm" enctype="multipart/form-data">
            <h:panelGroup
              rendered="#{!routingRequestManager.fileToBeImportedExists}"
              layout="block">

              <h:panelGroup
                rendered="#{routingRequestManager.canImportRoutings()}"
                layout="block">
                                Please choose routing request Excel file.
                            </h:panelGroup>

              <h:panelGroup
                rendered="#{!routingRequestManager.canImportRoutings()}"
                layout="block" styleClass="invalid">
                                You do not have permission to import routing requests.
                            </h:panelGroup>

              <p:spacer height="8" />

              <p:fileUpload id="fileUpload"
                fileUploadListener="#{routingRequestManager.routingFileUpload}"
                rendered="#{routingRequestManager.canImportRoutings()}"
                style="margin-top: 8px" mode="advanced" auto="true"
                fileLimit="1" dragDropSupport="true"
                allowTypes="/(\.|\/)(xlsx|xls)$/" update=":dialogs" />

            </h:panelGroup>

            <p:separator />

            <p:commandButton value="Upload"
              title="Upload file with routing definitions."
              style="float: left" update=":dialogs :routingTableForm:routingTable:tableMenuActions" onclick="start()"
              oncomplete="stop(); updateRoutingTable();"
              action="#{routingRequestManager.routingImportTest()}"
              disabled="#{!routingRequestManager.fileToBeImportedExists}" />
            <!-- p:commandButton commits the form without appropriate enctype, so use h:commandButton instead and make it behave as p:commandButton -->
            <h:commandButton id="uploadCancel" value="Cancel"
              title="Cancel upload." style="float: right;"
              action="#{routingRequestManager.clearImportState()}">
              <f:ajax render=":dialogs :routingTableForm:routingTable:tableMenuActions" />
            </h:commandButton>
            <script type="text/javascript">
                          behaveAsPCommandButton('importForm\\:uploadCancel');
                        </script>
          </h:form>
        </p:dialog>

        <p:dialog id="importDialog" widgetVar="importDialog"
          visible="#{routingRequestManager.fileToBeImportedExists and routingRequestManager.importResult != null}"
          style="max-width: 110%; max-height: 600px;" resizable="false"
          closable="false" dynamic="true" modal="true">

          <f:facet name="header">
            <h:outputText
              rendered="#{routingRequestManager.importResult.error}"
              value="Error in Import Spreadsheet" styleClass="invalid" />
            <h:outputText
              rendered="#{!routingRequestManager.importResult.error}"
              value="Routing Import" />
          </f:facet>
          <h:form>
          <p:panel styleClass="para">

            <h:panelGroup
              rendered="#{routingRequestManager.importResult.error}"
              layout="block" style="margin-top: 8px">
                            Routing data cannot be imported since there are some errors in the spreadsheet. Please correct the errors and try the import again.
                        </h:panelGroup>

            <h:panelGroup
              rendered="#{!routingRequestManager.importResult.error}"
              layout="block">
                            Review the import messages and confirm the routing import.
                        </h:panelGroup>

          </p:panel>

          <p:dataTable
            value="#{routingRequestManager.importResult.errors}"
            var="errorRow" scrollable="true" scrollHeight="180"
            style="max-width: 100%; margin-bottom: 1em; width: 58em;"
            rendered="#{routingRequestManager.importResult.error}">
            <p:column headerText="Row" width="10%"
              filterBy="#{errorRow.row}" filterStyle="width: 80%"
              filterMatchMode="contains" sortBy="#{errorRow.row}">
              <h:outputText value="#{errorRow.row}" />
            </p:column>
            <p:column headerText="Column" width="15%"
              filterBy="#{errorRow.column}" filterStyle="width: 80%"
              filterMatchMode="contains" sortBy="#{errorRow.column}">
              <h:outputText value="#{errorRow.column}" />
            </p:column>
            <p:column headerText="Value" width="20%"
              filterBy="#{errorRow.value}" filterStyle="width: 80%"
              filterMatchMode="contains" sortBy="#{errorRow.value}">
              <h:outputText
                value="#{empty errorRow.value ? '&lt;undefined&gt;' : errorRow.value}" />
            </p:column>
            <p:column headerText="Error" width="55%"
              filterBy="#{errorRow.message.toString()}"
              filterMatchMode="contains"
              sortBy="#{errorRow.message.toString()}"
              filterStyle="width: 80%">
              <h:outputText value="#{errorRow.message.toString()}" />
            </p:column>
          </p:dataTable>

          <!--Dummy command intercepts enter key press in table and discards it-->
          <p:defaultCommand target="dummy" />
          <p:commandButton id="dummy" process="@none" global="false" style="display:none;" />

          <p:panel
            style="max-width: 100%; max-height: 400px; overflow: auto"
            rendered="#{!routingRequestManager.importResult.error}">
            <pre>
                            <h:outputText
                value="#{routingRequestManager.importResult.toString()}" />
                        </pre>
          </p:panel>
          </h:form>

          <p:spacer height="16" />

          <h:form id="importConfirmForm">
            <p:commandButton value="Import" title="Import routings."
              style="float: left"
              update=":importRoutingsStatisticForm :dialogs :routingTableForm:routingTable"
              onclick="start()"
              oncomplete="PF('importRoutingsStatisticDialog').show(); stop(); updateRoutingTable();"
              action="#{routingRequestManager.routingImport()}"
              disabled="#{!routingRequestManager.canImportRoutings() or routingRequestManager.importResult.error}" />

            <p:commandButton value="Cancel" title="Cancel import."
              style="float: right"
              action="#{routingRequestManager.clearImportState()}"
              update=":dialogs" />
          </h:form>
        </p:dialog>

        <p:dialog id="exportDialog" header="Export Routings"
          widgetVar="exportDialog" visible="false" closable="false"
          dynamic="true">

          <h:form id="exportForm">

            <h:panelGroup rendered="true" layout="block">
              <div>
                Exporting
                <h:outputText
                  value="#{routingRequestManager.routingsToExportSize}" />
                <h:outputText
                  value="#{routingRequestManager.selectedRoutings.isEmpty() ? '' : ' selected'}" />
                routing
                <h:outputText
                  value="#{routingRequestManager.routingsToExportSize == 1 ? '' : 's'}" />
                to Excel spreadsheet.
              </div>
            </h:panelGroup>
            <p:separator />

            <p:commandButton value="Export" title="Export routings."
              style="float: left" ajax="false" update=":routingTableForm:routingTable:tableMenuActions"
              onclick="PrimeFaces.monitorDownload(start, stop)">
              <p:fileDownload
                value="#{routingRequestManager.routingSheetWithRoutingsToExport}" />
            </p:commandButton>

            <p:spacer width="32" />

            <div style="float: right">
              <p:commandButton value="Close" title="Close dialog."
                action="#{routingRequestManager.clearImportState()}"
                update=":dialogs :routingTableForm:routingTable:tableMenuActions" />
            </div>
          </h:form>
        </p:dialog>

      </p:outputPanel>

      <h:form id="routingTableForm">
        <div style="width: calc(100% - 1em)">

          <p:remoteCommand name="updatePageSize" action="#{routingRequestManager.onPaginatePageSize}" />

          <p:dataTable id="routingTable" var="routing"
            value="#{routingRequestManager.routings}"
            rowKey="#{routing.id}" widgetVar="routingTable"
            filteredValue="#{routingRequestManager.filteredRoutings}"
            emptyMessage="No records found."
            scrollable="true"
            first="#{routingRequestManager.rowNumber}"
            rows="#{routingRequestManager.rows}"
            selection="#{routingRequestManager.selectedRoutings}"
            selectionMode="multiple"
            paginator="true"
            paginatorAlwaysVisible="true"
            paginatorPosition = "bottom"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="10,20,30,40,50">

            <!-- using filters seems to break sync between selection state and what is displayed, so clear selection after filter usage -->
            <p:ajax event="filter" process="@this"
              listener="#{routingRequestManager.clearSelectedRoutings()}" />
            <p:ajax event="page" process="@this"
              listener="#{routingRequestManager.onPaginate}"
              update="tableMenuActions"
              oncomplete="updatePageSize()" />
            <p:ajax event="rowSelect" process="@this"
              listener="#{routingRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowUnselect" process="@this"
              listener="#{routingRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="toggleSelect" process="@this"
              listener="#{routingRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowSelectCheckbox" process="@this"
              listener="#{routingRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="rowUnselectCheckbox" process="@this"
              listener="#{routingRequestManager.onRowSelect}"
              update="tableMenuActions" />
            <p:ajax event="filter"
              listener="#{routingRequestManager.updateRoutingsToExportSize()}"
              update="tableMenuActions" />
            <p:ajax event="sort"
                onstart="start();"
                oncomplete="stop();" />

            <f:facet name="header">
              <p:commandButton id="toggler" type="button" value="Columns" style="float:left" />
              <p:columnToggler datasource="routingTable" trigger="toggler">
                <p:ajax event="toggle" listener="#{routingRequestManager.onToggle}" />
              </p:columnToggler>

              <p:menuButton id="tableMenuActions" value="Actions" style="float: right; text-align: left;">
                <p:menuitem value="Add" title="Add new routing."
                  id="addRoutingButton" icon="ui-icon-plus"
                  rendered="#{routingRequestManager.editRouting}"
                  actionListener="#{routingRequestManager.prepareAddPopup()}"
                  onstart="start()" onclick="disableButtons('routingTableForm','buttons');"  class = "button"
                  oncomplete="stop(); PF('addRoutingDialog').show();"
                  update=":addRoutingForm" />
                <p:menuitem value="Edit" title="Edit selected routing."
                  id="editRoutingButton" ajax="true"
                  icon="ui-icon-pencil" onclick="disableButtons('routingTableForm','buttons');"  class = "button"
                  rendered="#{routingRequestManager.editRouting}"
                  action="#{routingRequestManager.prepareEditPopup()}"
                  update=":editRoutingForm" onstart="start()"
                  oncomplete="stop(); PF('editRoutingDialog').show();"
                  disabled="#{!routingRequestManager.editButtonEnabled}" />
                <p:menuitem value="Delete" title="Delete selected routings."
                  id="deleteRoutingButton" ajax="true"
                  icon="ui-icon-trash" onclick="disableButtons('routingTableForm','buttons');"  class = "button"
                  rendered="#{routingRequestManager.editRouting}"
                  actionListener="#{routingRequestManager.checkRoutingsForDeletion()}"
                  oncomplete="PF('deleteRoutingsDialog').show();"
                  update=":deleteRoutingsForm:deleteRoutingsDialog"
                  disabled="#{!routingRequestManager.deleteButtonEnabled}" />

                <p:separator />
                <p:menuitem value="Import" title="Import routings from EXCEL template file."
                  id="importButton" onclick="disableButtons('routingTableForm','buttons');"  class = "button"
                  icon="ui-icon-folder-open" update=":dialogs"
                  oncomplete="PF('uploadDialog').show();"
                  rendered="#{routingRequestManager.canImportRoutings()}" />
                <p:menuitem value="Export" title="Export routings into EXCEL template file."
                  id="exportButton" onclick="disableButtons('routingTableForm','buttons');"  class = "button"
                  action="#{routingRequestManager.updateRoutingsToExportSize()}"
                  icon="ui-icon-disk" update=":dialogs"
                  oncomplete="PF('exportDialog').show();"
                  disabled="#{routingRequestManager.filteredRoutings.size() == 0}" />
              </p:menuButton>
            </f:facet>

            <p:columns value="#{routingRequestManager.columns}"
              var="column" columnIndexVar="colIndex"
              styleClass="#{column.styleClass}" style="#{column.style}"
              sortBy="#{routing[column.value]}"
              filterBy="#{routing[column.value]}"
              filterStyle="#{column.filterStyle}"
              filterMatchMode="#{column.filterMode}"
              headerText="#{column.columnLabel}"
              visible="#{routingRequestManager.isColumnVisible(colIndex)}">

              <h:outputText rendered="#{column.columnStyle.plainText}"
                styleClass="#{not routing.active ? 'deleted' : ''}"
                value="#{routing[column.value]}" />

              <p:commandLink update=":displayLongTextPanelForm"
                oncomplete="PF('displayLongTextPanel').show('#{component.clientId}');"
                styleClass="#{not routing.active ? 'deleted ellipsis' : 'ellipsis'}"
                rendered="#{column.columnStyle.longText}">
                <f:setPropertyActionListener
                  value="#{column.columnLabel}"
                  target="#{routingRequestManager.longTextOverlayHeader}" />
                <f:setPropertyActionListener
                  value="#{routing[column.value]}"
                  target="#{routingRequestManager.longTextOverlayContent}" />
                <h:outputText value="#{routing[column.value]}" />
              </p:commandLink>

            </p:columns>

            <p:column id="historyColumn" styleClass="fixed_width64" style="width:64px;">
              <f:facet name="header">
                <h:outputText value="History" title="Routing history." />
              </f:facet>
              <p:commandLink value="Show" onstart="start()"
                action="#{historyRequestManager.prepareRoutingHistory(routing.id)}"
                oncomplete="PF('historyDialog').show(); fixHistoryTable(); stop();"
                update=":historyForm" />
            </p:column>

          </p:dataTable>
        </div>

      </h:form>

      <ui:include src="/resources/dialogs/display-long-general.xhtml">
        <ui:param name="formId" value="displayLongTextPanel" />
        <ui:param name="title"
          value="#{routingRequestManager.longTextOverlayHeader}" />
        <ui:param name="columnContent"
          value="#{routingRequestManager.longTextOverlayContent}" />
      </ui:include>

      <ui:include
        src="/resources/dialogs/delete-multi-confirmation.xhtml">
        <ui:param name="formId" value="deleteRoutingsForm" />
        <ui:param name="dialogTitle" value="Delete Routings" />
        <ui:param name="widgetName" value="deleteRoutingsDialog" />
        <ui:param name="controller" value="#{routingRequestManager}" />
        <ui:param name="deletePreventionList"
          value="#{routingRequestManager.deletedRoutings}" />
        <ui:param name="deleteList"
          value="#{routingRequestManager.selectedRoutings}" />
        <ui:param name="submitHandler" value="onRoutingDelete" />
        <ui:param name="closeHandler" value="resetValues" />
        <ui:param name="formsToUpdate"
          value=":routingTableForm :cableDBGrowl :routingTableForm:routingTable:tableMenuActions" />
        <ui:param name="closeDialogActions"
          value="PF('routingTable').clearFilters(); updateRoutingTable();" />
        <ui:param name="entityType" value="routings" />
        <ui:param name="entityName" value="Routing" />
        <ui:param name="cause" value="already deleted" />
      </ui:include>

      <ui:include src="/resources/dialogs/routing.xhtml">
        <ui:param name="formId" value="editRoutingForm" />
        <ui:param name="dialogTitle" value="Edit Routing" />
        <ui:param name="widgetName" value="editRoutingDialog" />
        <ui:param name="submitHandler" value="onRoutingEdit" />
      </ui:include>

      <ui:include src="/resources/dialogs/routing.xhtml">
        <ui:param name="formId" value="addRoutingForm" />
        <ui:param name="dialogTitle" value="Add Routing" />
        <ui:param name="widgetName" value="addRoutingDialog" />
        <ui:param name="submitHandler" value="onRoutingAdd" />
      </ui:include>

      <ui:include src="/resources/dialogs/history-dialog.xhtml">
        <ui:param name="formId" value="historyForm" />
        <ui:param name="widgetName" value="historyDialog" />
        <ui:param name="title" value="Routing History" />
        <ui:param name="entity" value="routing" />
        <ui:param name="controller" value="#{historyRequestManager}" />
        <ui:param name="showType" value="false" />
        <ui:param name="tableHeight" value="650" />
      </ui:include>

      <ui:include src="/resources/dialogs/import-stats-dialog.xhtml">
        <ui:param name="formId" value="importRoutingsStatisticForm" />
        <ui:param name="widgetName"
          value="importRoutingsStatisticDialog" />
        <ui:param name="controller" value="#{routingRequestManager}" />
      </ui:include>

      <ui:include src="/resources/dialogs/cannot-find-entity.xhtml">
        <ui:param name="formId" value="cannotFindRoutingForm" />
        <ui:param name="widgetName" value="cannotFindRouting" />
        <ui:param name="entityCamel" value="Routing" />
        <ui:param name="entity" value="routing" />
        <ui:param name="controller" value="#{routingRequestManager}" />
        <ui:param name="submitHandler" value="requestedRoutingName" />
      </ui:include>

      <script type="text/javascript">
          $("[name='content']").ready(function() {
              // parameters from url currently not used
              removeSessionIdAndParametersFromUrl();
          });
      </script>
    </ui:fragment>
  </ui:define>
</ui:composition>
